Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

lint:
  stage: test
  script:
  - pip install -e .
  - pip install flake8 flake8-docstrings flake8-import-order
  - flake8

pytest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short

pytest:minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:3.6-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.4.0

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.7'
      - '3.8'
      - '3.9'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip --no-install-recommends -y

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python --no-progress -y
  ...

pages:
  stage: deploy
  script:
  - pip install -e .
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  - find examples -name '*.html' -exec mv {} public/_static \;
  ...

operators: Fix shape of Idag
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Revert "operators: Fix shape of Idag"
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

io: Rewrite save and load functions to use json (fix #14)
  eminus/__init__.py
  eminus/io.py
  examples/05_input_output/05_input_output.py
  tests/examples/test_scripts.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add a dev changelog
  CHANGELOG.md
Due: none

Add a hline below newest changelog entry + only show latest entry on pypi
  CHANGELOG.md
  setup.py
Due: lint

io: More consistent style in json writer
  eminus/io.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update logo typography (fix #13)
  docs/logo/eminus.svg
  docs/logo/eminus_dark.svg
  docs/logo/eminus_logo.png
  docs/logo/eminus_logo_dark.png
Due: pages

changelog: Add separator before/after ever dot release
  CHANGELOG.md
Due: none

Increase logo png size
  docs/logo/eminus_logo.png
  docs/logo/eminus_logo_dark.png
Due: pages

MAke kso, fo, and flo lowercase
  eminus/localizer.py
  eminus/orbitals.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add a tool, utility, and domain tests
  eminus/energies.py
  tests/test_domains.py
  tests/test_tools.py
  tests/test_utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Refactor xc to separate files
  eminus/xc.py
  eminus/xc/__init__.py
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_vwn.py
  eminus/xc/lda_x.py
  eminus/xc/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Add a separate functional string parser
  eminus/scf.py
  eminus/xc/__init__.py
  eminus/xc/utils.py
  tests/extras/test_libxc.py
  tests/test_tools.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Implement the modified pw functional
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_pw_mod.py
  eminus/xc/utils.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Add modified Chachiyo functional
  CHANGELOG.md
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_chachiyo_mod.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_pw_mod.py
  eminus/xc/utils.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Add functionals to docs
  docs/modules.rst
Due: pages

xc: Add readme and parse xc if a string si given
  eminus/xc/README.md
  eminus/xc/utils.py
  tests/extras/test_libxc.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Refactor io into separate modules
  eminus/io.py
  eminus/io/README.md
  eminus/io/__init__.py
  eminus/io/cube.py
  eminus/io/gth.py
  eminus/io/json.py
  eminus/io/pdb.py
  eminus/io/xyz.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Only use the objname in api docs, not the fullname
  docs/_templates/custom-class.rst
  docs/_templates/custom-function.rst
  docs/_templates/custom-module.rst
  docs/conf.py
  docs/modules.rst
  eminus/io/pdb.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

xc: Improve performance of some functionals
  CHANGELOG.md
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_chachiyo_mod.py
  eminus/xc/lda_c_pw.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Fix derp
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_pw.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Add an exc_only flag to only calculate the xc energy density
  CHANGELOG.md
  eminus/dft.py
  eminus/energies.py
  eminus/xc/__init__.py
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_chachiyo_mod.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_pw_mod.py
  eminus/xc/lda_c_vwn.py
  eminus/xc/lda_x.py
  eminus/xc/utils.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Rearrange functionals, add exc_only flag to fit functions
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_chachiyo_mod.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_vwn.py
  eminus/xc/lda_x.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Remove the package name from api docs, but keep the module name
  docs/_templates/custom-class.rst
  docs/_templates/custom-function.rst
  docs/_templates/custom-module.rst
  docs/conf.py
  eminus/xc/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

setup: Raise minimum sphinx version
  eminus/xc/utils.py
  setup.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Remove alpha, fix description
  CHANGELOG.md
  eminus/xc/lda_x.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Rename LibXC to Libxc
  docs/_images/features.svg
  eminus/extras/README.md
  eminus/extras/libxc.py
  eminus/scf.py
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_chachiyo_mod.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_pw_mod.py
  eminus/xc/lda_c_vwn.py
  eminus/xc/lda_x.py
  examples/04_dft_calculations/04_dft_calculations.py
  setup.py
  tests/extras/test_libxc.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

Add a pyproject.toml file
  CHANGELOG.md
  pyproject.toml
Due: none

orbitals: Sort atom types when writing cubes
  eminus/orbitals.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

io: Add mock gth dictionaries
  eminus/io/gth.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

orbitals: Properly fix file naming
  eminus/orbitals.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add build folder to gitignore
  .gitignore
Due: none

version: Make logo global
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Add nomenclature of commonly used variables (fix #1)
  docs/index.rst
  docs/nomenclature.rst
Due: pages

io: Fix non-initialized logger when reading json
  CHANGELOG.md
  eminus/io/json.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Use pc-1 for fod calculation, improve one test
  eminus/extras/fods.py
  eminus/utils.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

localizer: Initial wannier supercell implementation
  eminus/localizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tools: Add pycom routine
  eminus/tools.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

localizer: Add logging to wannier optimizer
  eminus/localizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/fods: Fix missing factor 2 for the number of fods detection
  eminus/extras/fods.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Path conditions:
  lint: any of: *.py, **/*.py
  pytest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pytest:minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*
