Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

.gitlab-ci.yml:

image: python:3.10-slim

stages:
  - test
  - test-pedantic
  - deploy

.pytest:
  stage: test
  script:
    - python3 -m pip install -e .
    - python3 -m pip install pytest
    - python3 -m pytest tests/dft_calculations --tb=short
  only:
    changes:
      - eminus/*.py
      - eminus/**/*.py
      - tests/*.py
      - tests/**/*.py

.pytest-pedantic:
  extends: .pytest
  stage: test-pedantic
  only:
    refs:
      - tags

########## Lint python files ##########
lint:
  stage: test
  script:
    - pip install -e .
    - pip install flake8 flake8-docstrings flake8-import-order
    - flake8
  only:
    changes:
      - "*.py"
      - "**/*.py"

########## Test code functionality for the current and minimal supported versions ##########
pytest:
    extends: .pytest

pytest:minimal:
  extends: .pytest
  image: python:3.6-slim
  before_script:
    - pip install numpy==1.17.0 scipy==1.4.0

########## Test code functionality for all python versions between current and minimal ##########
python:
  extends: .pytest-pedantic
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
      - PYTHON_VERSIONS: ['3.7', '3.8', '3.9']

########## Test code functionality under linux, macos, and windows ##########
platform:linux:
  extends: .pytest-pedantic
  image: ubuntu:latest
  before_script:
    - apt-get update -y
    - apt-get install python3 python3-pip --no-install-recommends -y

platform:macos:
  extends: .pytest-pedantic
  image: sickcodes/docker-osx:latest
  before_script:
    - python3 -m ensurepip

platform:windows:
  extends: .pytest-pedantic
  tags:
    - windows
  before_script:
    # https://gitlab.com/gitlab-org/ci-cd/shared-runners/images/gcp/windows-containers/-/issues/13
    - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
    - choco install python --no-progress -y
    - refreshenv
    - Set-Alias -Name python3 -Value python

########## Build documentation ##########
pages:
  stage: deploy
  script:
    - pip install -e .
    # Build sphinx documentation
    - pip install sphinx furo
    - sphinx-build -b html ./docs ./public
    # Convert notebooks to html
    - pip install notebook
    - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
    - find examples -name '*.html' -exec mv {} public/_static \;
    # Minify all text files
    - apt-get install -y minify
    - find public \( -name '*.css' -o -name '*.js' -o -name '*.svg' \) -exec minify -vo {} {} \;
    - find public -name '*.html' -exec minify -vo {} {} --html-keep-document-tags --html-keep-end-tags \;
    # Compress all text files
    - find public \( -name '*.css' -o -name '*.html' -o -name '*.js' -o -name '*.svg' \) -exec gzip -vrk9 {} \;
  artifacts:
    paths:
      - public
  only:
    changes:
      - docs/*
      - docs/**/*
    refs:
      - main

tools: Use the same datastructure as for fods in the ppycom routine
  eminus/tools.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

localizer: Do the sign evaluation in the first step, too
  eminus/localizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

orbitals: Add a wannier orbital function
  eminus/orbitals.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add an example for wannier functions
  examples/13_wannier_localization/13_wannier_localization.ipynb
  examples/13_wannier_localization/CH4.xyz
  examples/13_wannier_localization/README.rst
  examples/README.md
  tests/examples/test_notebooks.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

localizer: Add random initialization to wannier localizer
  eminus/localizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Move pycom to fods extra, imporve test
  eminus/extras/__init__.py
  eminus/extras/fods.py
  eminus/tools.py
  tests/extras/test_fods.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update changelog
  CHANGELOG.md
  eminus/localizer.py
  eminus/orbitals.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update Wannier example
  eminus/localizer.py
  examples/13_wannier_localization/13_wannier_localization.ipynb
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add a recenter method to atoms and scf (fix #19)
  CHANGELOG.md
  eminus/atoms.py
  eminus/localizer.py
  eminus/scf.py
  eminus/tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Small doc changes
  docs/further.rst
  docs/nomenclature.rst
  eminus/localizer.py
  eminus/potentials.py
  eminus/tools.py
  eminus/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

Add methods to class documentation, improve inherited class docstrings
  docs/_templates/custom-class.rst
  eminus/logger.py
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

Add pypi version badge
  README.md
  docs/introduction.rst
Due: pages

version: Release v2.2.0
  CHANGELOG.md
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests/extras: Move imports in fod tests
  tests/extras/test_fods.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Move pytest.ini to the base folder
  pytest.ini
Due: none

docs: Remove svg ending from shields.io badges
  docs/introduction.rst
Due: pages

Add a MANIFEST.in and remove package_data
  MANIFEST.in
  setup.py
Due: lint

tests/extras: Skip tests if pylibxc is not installed
  tests/extras/test_libxc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

version: Release v2.2.1
  CHANGELOG.md
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

setup: Use github as the default url to display the repo stats in pypi
  setup.py
Due: lint

tests: Parametrize operator tests
  tests/test_operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

operators: Set overwrite_x in fft operation
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

operators: Fix previous commit
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

operators: Move norm inside fft for performance, add comments to fft
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update scipy min version, goodbye py3.6
  .gitlab-ci.yml
  docs/installation.rst
  setup.py
Due: lint, pages

energies: Make Energies a dataclass
  eminus/energies.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update changelog
  CHANGELOG.md
Due: none

energies: dataclass slots have been introduced in pythpon 3.10, remove usage
  eminus/energies.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

operators: Use brackets in Linv
  CHANGELOG.md
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

localizer: Reduce wannier conv_tol and use the logger from atoms
  eminus/localizer.py
  examples/13_wannier_localization/13_wannier_localization.ipynb
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

utils: Improve dotprod performance
  CHANGELOG.md
  eminus/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Smarter (and faster) density calculation
  eminus/dft.py
  eminus/minimizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Show skip reasons of pytest and filter deprecation warnings from other packages
  .gitlab-ci.yml
  pytest.ini
Due: none

energies: Remove useless transpose of 1d density
  CHANGELOG.md
  eminus/energies.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

version: Release v2.2.2
  CHANGELOG.md
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

utils: Remove diagprod function
  eminus/dft.py
  eminus/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Misc updates to docker
  Dockerfile
Due: none

docs: Use the full version in docs title again
  docs/conf.py
Due: lint, pages

Fix json import and export
  eminus/energies.py
  eminus/io/json.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows
