Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check .

coverage:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install coverage pyscf pytest pytest-cov
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage xml
  - coverage html
  ...

minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.6.0

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.8'
      - '3.9'
      - '3.10'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip -y --no-install-recommends

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip
  - python3 -m pip config set global.no-warn-script-location true

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python -y --no-progress
  ...

installation:
  stage: test-pedantic
  script:
  - pip install build twine
  - python -m build
  - twine check dist/*
  - rm -rf eminus/psp/
  - cd dist/
  - tar -xf eminus-*.tar.gz
  - pip install eminus-*/.
  - python -c "import eminus; eminus.SCF(eminus.Atoms('He', (0, 0, 0)), etol=10).run()"
  - pip uninstall eminus -y
  ...

pages:
  stage: deploy
  dependencies:
  - coverage
  script:
  - pip install -e .
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

docker: Remove pinned jupyter_client version
  Dockerfile
Due: none

setup: Pin notebook version
  Dockerfile
  setup.py
Due: lint, coverage

ci: Use the released 3.12 image
  .gitlab-ci.yml
Due: none

examples: Update plot in example 17
  examples/13_geometry_optimization/dissociation_energy_h2.png
  examples/14_custom_functionals/correlation_energy_error.png
  examples/15_custom_functionals_spin/correlation_energy_error_spin.png
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
  examples/17_reduced_density_gradient/density_finger.png
  examples/eminus.mplstyle
Due: lint, coverage, pages

Misc documentation updates
  docs/further.rst
  docs/license.rst
  eminus/extras/dispersion.py
  eminus/extras/viewer.py
  eminus/io/json.py
  eminus/io/pdb.py
  eminus/io/traj.py
  eminus/io/xyz.py
  eminus/kpoints.py
  eminus/operators.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

docs: Clarify coverage update process
  docs/further.rst
Due: coverage, pages

version: Release v2.6.1
  CHANGELOG.md
  eminus/version.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Fix changelog entry
  CHANGELOG.md
Due: none

examples: Add notebook instructions to example 12
  examples/12_wannier_localization/README.rst
Due: pages

scf: Better indicate constants
  eminus/scf.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

ruff: Add PLR rules and fix some
  eminus/extras/libxc.py
  eminus/extras/torch.py
  eminus/minimizer.py
  pyproject.toml
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

docs: Add tz kw to datetime.now
  docs/conf.py
Due: lint, coverage, pages

ruff: Activate FA rule and simplify type hints
  docs/conf.py
  eminus/config.py
  pyproject.toml
  setup.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

extras/dispersion: Clarify and rearrange the dftd3 import fix
  eminus/extras/dispersion.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

extras/viewer: Add a contour viewer function
  eminus/extras/__init__.py
  eminus/extras/viewer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Fix widget sizes and update changelog
  CHANGELOG.md
  eminus/extras/viewer.py
  tests/extras/test_view_contour.ipynb
  tests/extras/test_view_file.ipynb
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

extras/viewer: Nit
  eminus/extras/viewer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

nix: Remove setting of nprocs
  flake.nix
Due: none

extras/viewer: Update contour limits arguments
  eminus/extras/viewer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

ci: Add a nixos test
  .gitlab-ci.yml
  CHANGELOG.md
  docs/installation.rst
Due: coverage, pages

tests: Use assert_equal over assert_allclose if possible
  tests/test_atoms.py
  tests/test_gth.py
  tests/test_io.py
  tests/test_kpoints.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

ci: typo
  .gitlab-ci.yml
Due: none

ci: Use all the cores (2) in most used stages
  .gitlab-ci.yml
Due: none

ci: Fix nprocs
  .gitlab-ci.yml
Due: none

ci: umpy from pip uses openblas
  .gitlab-ci.yml
Due: none

ci: Remove export of threads, seems to have no effect
  .gitlab-ci.yml
Due: none

psp: Add a copyright notice for the cp2k data files
  docs/license.rst
  eminus/psp/README.md
Due: coverage, pages

Small nitpicks
  docs/conf.py
  pyproject.toml
Due: lint, coverage, pages

CI: Test python 3.12 as base image
  .gitlab-ci.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Speedup get_Eewald and add Madelung tests
  eminus/energies.py
  tests/test_ewald.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

WIP: First draft for working kpoints
  eminus/atoms.py
  eminus/config.py
  eminus/dft.py
  eminus/energies.py
  eminus/gth.py
  eminus/minimizer.py
  eminus/operators.py
  eminus/utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

minimizer: Rewrite lm for k-points
  eminus/minimizer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

dft: Performance fix and epsilon k-points
  eminus/dft.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

utils: Support ndarrays in kpoint decorators
  eminus/utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

kpoints: Remove conversion from monkhorst pack grid
  eminus/kpoints.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

energies: Add band energy calculation, fix display in minimizer
  eminus/energies.py
  eminus/minimizer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Path conditions:
  lint: any of: *.py, **/*.py
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
