Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

lint:
  stage: test
  script:
  - pip install -e .
  - pip install flake8 flake8-docstrings flake8-import-order
  - flake8

pytest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short

pytest:minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:3.6-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.4.0

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.7'
      - '3.8'
      - '3.9'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip --no-install-recommends -y

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python --no-progress -y
  ...

pages:
  stage: deploy
  script:
  - pip install -e .
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  - find examples -name '*.html' -exec mv {} public/_static \;
  ...

dft: Optimize H a bit
  eminus/dft.py
  examples/11_simpledft_examples/11_simpledft_examples.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

energies: Fix SIC for GGAs (unsure about mGGAs...)
  eminus/energies.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

energies: Remove unused import
  eminus/energies.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

energies: Fix the SIC energy for GGAs and mGGAs, add comments
  eminus/energies.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add mgga sic energy test, add new scf recenter test
  tests/test_energies.py
  tests/test_scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Replace some lists with tuples
  tests/test_config.py
  tests/test_domains.py
  tests/test_gga.py
  tests/test_io.py
  tests/test_localizer.py
  tests/test_tools.py
  tests/test_units.py
  tests/test_utils.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add runtime warning for overflows in minimizer test
  tests/test_minimizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests/extras: Replace some lists with tuples
  tests/extras/test_fods.py
  tests/extras/test_libxc.py
  tests/extras/test_viewer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Replace elec_symbols lists with tuples
  eminus/extras/fods.py
  eminus/extras/viewer.py
  eminus/io/cube.py
  eminus/io/pdb.py
  eminus/io/xyz.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Remove non-ascii characters
  eminus/energies.py
  eminus/localizer.py
  eminus/minimizer.py
  eminus/orbitals.py
  eminus/tools.py
  eminus/units.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update changelog
  CHANGELOG.md
Due: none

Remove non-ascii chars from examples and tests, update changelog
  CHANGELOG.md
  examples/09_sic_calculations/09_sic_calculations.py
  tests/test_orbitals.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Fix missing logo
  docs/_static/logo/README.md
  docs/_static/logo/eminus.svg
  docs/_static/logo/eminus_dark.svg
  docs/_static/logo/eminus_favicon.png
  docs/_static/logo/eminus_logo.png
  docs/_static/logo/eminus_logo_dark.png
  docs/_static/logo/eminus_small.svg
  docs/_static/logo/eminus_small_dark.svg
  docs/conf.py
Due: lint, pages

docs: Add missing readmes to folders
  docs/_static/README.md
  docs/_static/css/README.md
Due: pages

domains: Use asarray over asanyarray
  eminus/domains.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

scf: Add a note to the RSCF and USCF classes
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

readme: Update logo path
  README.md
Due: none

Use a symmetric guess (same guess for bpoth spin channels)
  CHANGELOG.md
  eminus/atoms.py
  eminus/dft.py
  eminus/scf.py
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_scan.py
  tests/test_energies.py
  tests/test_scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

scf: Add symmetry information to debug info
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Un-default the symmetric guess
  CHANGELOG.md
  eminus/dft.py
  eminus/scf.py
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_scan.py
  tests/test_energies.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tools: Add function to calculate <S^2>
  CHANGELOG.md
  eminus/scf.py
  eminus/tools.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

scf: Add eigenenergies and gradient tolerance to debug information
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

changlog: Fix a small typo
  CHANGELOG.md
Due: none

changelog: Add new scf output
  CHANGELOG.md
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tools: Add a multiplicity calculation from <S^2>
  CHANGELOG.md
  eminus/tools.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Improve the output from some functions, remove the usage of tabs
  eminus/atoms.py
  eminus/scf.py
  eminus/tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Small updates to the documentation
  docs/introduction.rst
  eminus/domains.py
  eminus/gga.py
  eminus/gth.py
  eminus/tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

tox.ini: Remove one warning filter
  tox.ini
Due: none

examples: Add config infos to the first example
  eminus/gga.py
  examples/01_installation_test/01_installation_test.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Reduce the complexity of of some high-complex functions
  CHANGELOG.md
  eminus/minimizer.py
  eminus/utils.py
  eminus/xc/utils.py
  pyproject.toml
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Small documentation update
  eminus/energies.py
  eminus/tools.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Remove exc_only flag and reduce complexity of get_xc
  CHANGELOG.md
  eminus/extras/libxc.py
  eminus/xc/gga_c_chachiyo.py
  eminus/xc/gga_c_pbe.py
  eminus/xc/gga_x_chachiyo.py
  eminus/xc/gga_x_pbe.py
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_chachiyo_mod.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_vwn.py
  eminus/xc/lda_x.py
  eminus/xc/utils.py
  tests/extras/test_libxc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

gth: Align function with calc_Vtau, change spin docstring
  eminus/dft.py
  eminus/gga.py
  eminus/gth.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

ruff: Activate some more rules, implement pytest style
  pyproject.toml
  tests/examples/test_notebooks.py
  tests/examples/test_scripts.py
  tests/extras/test_fods.py
  tests/extras/test_libxc.py
  tests/extras/test_viewer.py
  tests/test_atoms.py
  tests/test_config.py
  tests/test_dft.py
  tests/test_domains.py
  tests/test_gga.py
  tests/test_io.py
  tests/test_localizer.py
  tests/test_logger.py
  tests/test_scf.py
  tests/test_tools.py
  tests/test_units.py
  tests/test_utils.py
  tests/test_xc.py
  tests/test_xc_utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

examples: Add a H2 optimization example
  examples/14_geometry_optimization/14_geometry_optimization.py
  examples/14_geometry_optimization/README.rst
  examples/README.md
Due: lint

ci: Add examples to pages trigger
  .gitlab-ci.yml
Due: none

Path conditions:
  lint: any of: *.py, **/*.py
  pytest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pytest:minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*
