Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, pages

.gitlab-ci.yml:

image: python:3-slim

stages:
    - test
    - deploy

before_script:
    - apt update -y
    - apt install -y libgomp1
    - pip install -e .

pytest:
  stage: test
  script:
  - pip install pytest
  - pytest tests/
  only:
    changes:
      - plainedft/*
      - plainedft/**/*

pages:
  stage: deploy
  script:
    - pip install -U sphinx sphinx-rtd-theme
    - sphinx-build -b html ./docs ./public
  artifacts:
    paths:
    - public
  only:
    changes:
      - docs/*
      - docs/**/*

gitignore: Add pytest_cache
  .gitignore
Due: none

atoms: Fix docstring intendation
  plainedft/atoms.py
Due: pytest

Simplify and correct file docstrings
  plainedft/atoms.py
  plainedft/data.py
  plainedft/energies.py
  plainedft/gth.py
  plainedft/localize.py
  plainedft/operators.py
  plainedft/potentials.py
  plainedft/scf.py
  plainedft/tools.py
  plainedft/units.py
Due: pytest

docs: Add a provisionally docs page
  .gitignore
  .gitlab-ci.yml
  docs/_templates/custom-module.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/modules.rst
Due: pages

Improve some docstrings for a better autosummary look
  plainedft/atoms.py
  plainedft/localize.py
  plainedft/potentials.py
  plainedft/tools.py
Due: pytest

The grave docstring update.
  README.md
  docs/modules.rst
  plainedft/__init__.py
  plainedft/atoms.py
  plainedft/energies.py
  plainedft/exc.py
  plainedft/gth.py
  plainedft/localize.py
  plainedft/localizer.py
  plainedft/operators.py
  plainedft/pade_gth/README.md
  plainedft/potentials.py
  plainedft/tools.py
  plainedft/units.py
  plainedft/utils.py
Due: pytest, pages

init: Make docstring a code block
  plainedft/__init__.py
Due: pytest

docs: Shorten underline, add nosignatures
  docs/index.rst
  docs/modules.rst
Due: pages

localizer: Add wannier cost function
  plainedft/localizer.py
Due: pytest

Add viewer functions
  plainedft/addons/__init__.py
  plainedft/addons/viewer.py
  plainedft/atoms.py
  plainedft/data.py
  setup.py
Due: pytest

Add addons installation notice
  README.md
  docs/installation.rst
Due: pages

addons/viewer: Fix type
  plainedft/addons/viewer.py
Due: pytest

docs: Add addons to modules page
  docs/modules.rst
Due: pages

addons/viewer: Add kwargs to signature
  plainedft/addons/viewer.py
Due: pytest

data: Add X as dummy atom
  plainedft/data.py
Due: pytest

addons/viewer: Handle FODs/X correct
  plainedft/addons/viewer.py
Due: pytest

init: Remove dollar sign from bash commands
  plainedft/__init__.py
Due: pytest

data: Add covalent radii
  plainedft/data.py
Due: pytest

tests/spin_paired: Docstring, also compare all energies at once
  tests/spin_paired/CH4.xyz
  tests/spin_paired/test_spin_paired.py
Due: none

atoms: Add return to Atoms.update()
  plainedft/atoms.py
Due: pytest

Add more READMEs
  docs/README.md
  plainedft/addons/README.md
  plainedft/pade_gth/README.md
  tests/README.md
Due: pytest, pages

scf: Add a normalization function
  plainedft/scf.py
Due: pytest

addons: Add fod generation routines
  docs/modules.rst
  plainedft/addons/__init__.py
  plainedft/addons/fods.py
  plainedft/addons/viewer.py
Due: pytest, pages

addons/viewer: Try to fix orbital view on Chrome 90
  plainedft/addons/viewer.py
Due: pytest

operators: Add the option to transform back in the truncated recipocal space
  plainedft/atoms.py
  plainedft/operators.py
Due: pytest

setup: Add pyscf, pyflosic_dev as a placeholder
  setup.py
Due: none

addons/fods: Use integer divide
  plainedft/addons/fods.py
Due: pytest

addons: Use relative imports
  plainedft/addons/__init__.py
  plainedft/addons/fods.py
  plainedft/addons/viewer.py
Due: pytest

Revert "scf: Add a normalization function"
  plainedft/scf.py
Due: pytest

tools: Fix normalization check
  plainedft/tools.py
Due: pytest

atoms: arange starts at 0 by default
  plainedft/atoms.py
Due: pytest

localizer: Use Löwdin orthonormalization for FLO creation
  plainedft/localizer.py
Due: pytest

energies: Simplify SIC energy calculation
  plainedft/energies.py
Due: pytest

Do not transpose in wannier cost or orthonorm check
  plainedft/localizer.py
  plainedft/tools.py
Due: pytest

scf: Split psi and epsilon calculation
  plainedft/scf.py
Due: pytest

scf: Fix gaussian guess
  plainedft/scf.py
Due: pytest

localizer: Fix wannier cost function
  plainedft/localizer.py
Due: pytest

addons/fods: Fix core removal for uneven numbers of electrons
  plainedft/addons/fods.py
Due: pytest

atoms: Do not save M and N
  plainedft/atoms.py
Due: pytest
