Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

.gitlab-ci.yml:

image: python:3.10-slim

stages:
  - test
  - test-pedantic
  - deploy

.pytest:
  stage: test
  script:
    - python3 -m pip install -e .
    - python3 -m pip install pytest
    - python3 -m pytest tests/dft_calculations --tb=short
  only:
    changes:
      - eminus/*.py
      - eminus/**/*.py
      - tests/*.py
      - tests/**/*.py

.pytest-pedantic:
  extends: .pytest
  stage: test-pedantic
  only:
    refs:
      - tags

########## Lint python files ##########
lint:
  stage: test
  script:
    - pip install -e .
    - pip install flake8 flake8-docstrings flake8-import-order
    - flake8
  only:
    changes:
      - "*.py"
      - "**/*.py"

########## Test code functionality for the current and minimal supported versions ##########
pytest:
    extends: .pytest

pytest:minimal:
  extends: .pytest
  image: python:3.6-slim
  before_script:
    - pip install numpy==1.17.0 scipy==1.4.0

########## Test code functionality for all python versions between current and minimal ##########
python:
  extends: .pytest-pedantic
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
      - PYTHON_VERSIONS: ['3.7', '3.8', '3.9']

########## Test code functionality under linux, macos, and windows ##########
platform:linux:
  extends: .pytest-pedantic
  image: ubuntu:latest
  before_script:
    - apt-get update -y
    - apt-get install python3 python3-pip --no-install-recommends -y

platform:macos:
  extends: .pytest-pedantic
  image: sickcodes/docker-osx:latest
  before_script:
    - python3 -m ensurepip

platform:windows:
  extends: .pytest-pedantic
  tags:
    - windows
  before_script:
    # https://gitlab.com/gitlab-org/ci-cd/shared-runners/images/gcp/windows-containers/-/issues/13
    - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
    - choco install python --no-progress -y
    - refreshenv
    - Set-Alias -Name python3 -Value python

########## Build documentation ##########
pages:
  stage: deploy
  script:
    - pip install -e .
    # Build sphinx documentation
    - pip install sphinx furo
    - sphinx-build -b html ./docs ./public
    # Convert notebooks to html
    - pip install notebook
    - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
    - find examples -name '*.html' -exec mv {} public/_static \;
    # Minify all text files
    - apt-get install -y minify
    - find public \( -name '*.css' -o -name '*.js' -o -name '*.svg' \) -exec minify -vo {} {} \;
    - find public -name '*.html' -exec minify -vo {} {} --html-keep-document-tags --html-keep-end-tags \;
    # Compress all text files
    - find public \( -name '*.css' -o -name '*.html' -o -name '*.js' -o -name '*.svg' \) -exec gzip -vrk9 {} \;
  artifacts:
    paths:
      - public
  only:
    changes:
      - docs/*
      - docs/**/*
    refs:
      - main

Add unified read, write, and view functions for simplicity
  eminus/__init__.py
  eminus/extras/__init__.py
  eminus/extras/viewer.py
  eminus/io.py
  eminus/orbitals.py
  examples/05_input_output/05_input_output.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_extra/07_fod_extra.py
  examples/08_visualizer_extra/08_visualizer_extra.ipynb
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add a Dockerfile (#4)
  Dockerfile
Due: none

Update Dockerfile
  Dockerfile
Due: none

tools: Add an isosurface calculator
  eminus/tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Add docker instructions
  docs/installation.rst
Due: pages

Update preliminary changelog
  CHANGELOG.md
Due: none

docs: Update docker instructions
  docs/installation.rst
Due: pages

Update Dockerfile
  CHANGELOG.md
  Dockerfile
Due: none

version: Release v2.1.2
  CHANGELOG.md
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

ci: Readd version trigger
  .gitlab-ci.yml
Due: none

Add more informations about the installation process
  README.md
  docs/installation.rst
Due: pages

docker: Small nits
  Dockerfile
Due: none

Remove docker bash remark
  docs/installation.rst
Due: pages

examples: Add missing example to readme
  examples/11_simpledft_examples/README.rst
  examples/README.md
Due: none

Add a Germanium solid example
  eminus/tools.py
  examples/12_germanium_solid/12_germanium_solid.py
  examples/12_germanium_solid/README.rst
  examples/README.md
  tests/examples/test_examples.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add notebook execution tests
  tests/README.md
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
  tests/examples/README.md
  tests/examples/test_examples.py
  tests/examples/test_notebooks.py
  tests/operators/test_operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras: viewer: Remove unit options
  eminus/extras/viewer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Rework tests to utilize pytest
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
  tests/examples/test_notebooks.py
  tests/examples/test_scripts.py
  tests/operators/test_operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add more tests to CI, add marker for tests that require extras
  .gitlab-ci.yml
  tests/examples/test_notebooks.py
  tests/examples/test_scripts.py
  tests/pytest.ini
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Marks some tests as slow and exclude them from the CI
  .gitlab-ci.yml
  tests/examples/test_scripts.py
  tests/pytest.ini
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Guard notebook imports
  tests/examples/test_notebooks.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

logger: Fix non pickable objects under python3.6
  eminus/logger.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Revert "logger: Fix non pickable objects under python3.6"
  eminus/logger.py
  tests/examples/test_scripts.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

version: Replace exec and eval functions by importlib
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Remove usage of eval
  eminus/energies.py
  eminus/minimizer.py
  eminus/potentials.py
  eminus/scf.py
  eminus/xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Add more aliases to map
  eminus/xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Fix spin polarized PW correlation functional
  eminus/xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Use Chachiyo correlation paramters as in libxc
  eminus/xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Add a notice to the PW spin functional
  eminus/xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add xc test, move single tests to main test dir
  tests/operators/README.md
  tests/test_operators.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/fods: Use Mole.build over M to get it to work with pytest selections
  eminus/extras/fods.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add data test
  tests/test_data.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

test/extras: Rearrange imports
  tests/extras/test_fods.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Try to fix the language statistics
  .gitattributes
Due: none

extras/fods: Cast spin to int, otherwise it would be a np.int64
  eminus/extras/fods.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/fods: Simplify the pycom interface
  eminus/extras/fods.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

version: Its ASCII logo time!
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows
