Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check .

typecheck:
  stage: test
  script:
  - pip install mypy
  - mypy .

coverage:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install coverage pyscf pytest pytest-cov
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage xml
  - coverage html
  ...

minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.6.0
  - export OMP_NUM_THREADS=$nproc

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.12'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip -y --no-install-recommends

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip

platform:nixos:
  stage: test-pedantic
  script:
  - nix --extra-experimental-features "nix-command flakes" shell nixpkgs#gnused -c sed -i "s/  torch-bin/  \# torch-bin/g" flake.nix
  - nix --extra-experimental-features "nix-command flakes" shell nixpkgs#gnused -c sed -i "s/matplotlib/\# matplotlib/g" flake.nix
  ...

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python -y --no-progress
  ...

installation:
  stage: test-pedantic
  script:
  - pip install build twine
  - python -m build
  - twine check dist/*
  - rm -rf eminus/psp/
  - cd dist/
  - tar -xf eminus-*.tar.gz
  - pip install eminus-*/.
  - python -c "import eminus; eminus.demo()"
  - pip uninstall eminus -y
  - pip install eminus-*.whl
  ...

pages:
  stage: deploy
  dependencies:
  - coverage
  script:
  - pip install -e .
  - pip install sphinx furo sphinxcontrib-bibtex
  - sphinx-build -j $nproc -b html ./docs ./public
  - pip install notebook
  ...

pages:dev:
  stage: deploy
  dependencies: null
  script:
  - pip install -e .
  - pip install sphinx furo sphinxcontrib-bibtex
  - sphinx-build -j $nproc -b html ./docs ./public
  - pip install notebook
  ...

tools: Fix fermi distributions
  eminus/tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Clarify smearing units, rename occ_recalc
  eminus/cell.py
  eminus/minimizer.py
  eminus/occupations.py
  eminus/scf.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

occupations: Improve smear and sukg functions
  eminus/occupations.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Rewrite function to find the Fermi level
  eminus/extras/viewer.py
  eminus/occupations.py
  eminus/tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

tests: Add smearing tests
  tests/dft_calculations/test_smearing_polarized.py
  tests/dft_calculations/test_smearing_unpolarized.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Revert "occupations: Add tests for bands and smearing, fix fillings size"
  eminus/occupations.py
  tests/test_occupations.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Add some more tests
  tests/test_band_minimizer.py
  tests/test_energies.py
  tests/test_minimizer.py
  tests/test_occupations.py
  tests/test_units.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

occupations: Update warnings
  eminus/occupations.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

occupations: A way out of the fillings hell, fix size of f when setting number of bands
  eminus/occupations.py
  tests/test_occupations.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

extras/viewer: Pass e_occ to get_Efermi
  eminus/extras/viewer.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

examples: Add a smearing example
  examples/20_smeared_occupations/20_smeared_occupations.py
  examples/20_smeared_occupations/README.rst
  examples/README.md
  tests/examples/test_scripts.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

tools: Simplify Fermi finder
  eminus/tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Update changelog
  CHANGELOG.md
  examples/20_smeared_occupations/20_smeared_occupations.py
Due: lint, typecheck, coverage, pages, pages:dev

Misc small smearing updates
  eminus/occupations.py
  eminus/scf.py
  eminus/tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

coverage: Exclude import errors
  tox.ini
Due: none

Move PWDFT references into the docstring to make them more visible
  eminus/energies.py
  eminus/gth.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

tools: Remove one warning
  eminus/tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

tools: Remove DOS function
  CHANGELOG.md
  eminus/tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Fix some typos
  CHANGELOG.md
  eminus/atoms.py
  eminus/io/xyz.py
  eminus/xc/lda_c_pw.py
  tests/dft_calculations/test_smearing_polarized.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

version: Release v2.7.1
  CHANGELOG.md
  eminus/version.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

gth: Hotfix for Python3.9
  eminus/io/gth.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

gth: Hotfix for Python3.9 (2)
  eminus/io/gth.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

ci: minify: Keep whitespaces
  .gitlab-ci.yml
Due: none

Revert "extras/viewer: Pass e_occ to get_Efermi"
  eminus/extras/viewer.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Rewrite minimizer
  eminus/minimizer.py
  eminus/scf.py
  tests/dft_calculations/test_band_structure.py
  tests/dft_calculations/test_bulk.py
  tests/dft_calculations/test_charged_systems.py
  tests/dft_calculations/test_custom_k.py
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_smearing_polarized.py
  tests/dft_calculations/test_spined_systems.py
  tests/test_band_minimizer.py
  tests/test_energies.py
  tests/test_tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

tests: Do not create new plots in tests
  tests/examples/test_scripts.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Drop Python3.7 support
  .gitlab-ci.yml
  CHANGELOG.md
  docs/installation.rst
  eminus/io/gth.py
  eminus/version.py
  pyproject.toml
  setup.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

tests: Guard plt import
  tests/examples/test_scripts.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

minimizer: Use absolute beta values, update band_minimizer betat defaults
  eminus/band_minimizer.py
  eminus/minimizer.py
  examples/18_k_points/18_k_points.py
  examples/20_smeared_occupations/20_smeared_occupations.py
  tests/dft_calculations/test_band_structure.py
  tests/dft_calculations/test_bulk.py
  tests/dft_calculations/test_charged_systems.py
  tests/dft_calculations/test_custom_k.py
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_scan.py
  tests/dft_calculations/test_smearing_polarized.py
  tests/dft_calculations/test_smearing_unpolarized.py
  tests/dft_calculations/test_spined_systems.py
  tests/dft_calculations/test_unpolarized_pbe.py
  tests/extras/test_symmetry.py
  tests/test_band_minimizer.py
  tests/test_energies.py
  tests/test_potentials.py
  tests/test_scf.py
  tests/test_tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

Update changelog
  CHANGELOG.md
Due: none

scf: Always print smearing update cycle
  eminus/scf.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

minimizer: Fix norm_g check and scf property printing
  CHANGELOG.md
  eminus/minimizer.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Small tests improvements
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  tests/dft_calculations/test_spined_systems.py
  tests/examples/test_scripts.py
  tests/test_minimizer.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

tools: Fix get_ip for spin-pol calculations
  eminus/tools.py
  tests/test_tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Misc documentation updates
  eminus/gga.py
  eminus/gth.py
  eminus/kpoints.py
  eminus/localizer.py
  eminus/minimizer.py
  eminus/operators.py
  eminus/utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

tools: Fix normalization check
  eminus/tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Revert "Drop Python3.7 support"
  .gitlab-ci.yml
  CHANGELOG.md
  docs/installation.rst
  eminus/io/gth.py
  eminus/version.py
  pyproject.toml
  setup.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

ci: Update nix image
  .gitlab-ci.yml
Due: none

examples: Adjust SIC example
  examples/09_sic_calculations/09_sic_calculations.py
Due: lint, typecheck, coverage, pages, pages:dev

Path conditions:
  lint: any of: *.py, **/*.py
  typecheck: any of: *.py, **/*.py
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:nixos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
