Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

Path conditions:
  lint: any of: *.py, **/*.py
  typecheck: any of: *.py, **/*.py
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:nixos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py

io: Update xyz format descriptions link
  eminus/io/xyz.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Add raise statements to errors
  eminus/gth.py
  eminus/io/__init__.py
  eminus/logger.py
  eminus/minimizer.py
  eminus/occupations.py
  eminus/scf.py
  eminus/utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

occupations: Remove broken Nelec check
  eminus/occupations.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Add and advertise the discord server
  CHANGELOG.md
  README.md
  docs/further.rst
  docs/index.rst
Due: coverage, pages, pages:dev

Update badge style
  README.md
  docs/index.rst
Due: coverage, pages, pages:dev

tests: Remove one unused argument
  tests/test_kpoints.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

setup: Add encoding to read_text
  setup.py
Due: lint, typecheck, coverage

Remove returns following a raise
  eminus/gth.py
  eminus/io/__init__.py
  eminus/minimizer.py
  eminus/utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

io: Add two missing encodings keywords
  eminus/io/pdb.py
  eminus/io/xyz.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Do not use assert in the core modules
  eminus/extras/libxc.py
  eminus/xc/utils.py
  pyproject.toml
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Clean pyproject.toml a bit
  pyproject.toml
Due: none

dft: (Nit) Move orth up
  eminus/dft.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

extras/viewer: Add option to plot both spin channels in band structures
  eminus/extras/viewer.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

cell: Allow Atoms keyword arguments
  CHANGELOG.md
  eminus/cell.py
  tests/test_cell.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

examples: Add some performance information
  examples/06_advanced_functionalities/06_advanced_functionalities.py
Due: lint, typecheck, coverage, pages, pages:dev

utils: Improve add_maybe_none documentation
  eminus/utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Move tox.ini contents to pyproject.toml
  CHANGELOG.md
  pyproject.toml
  tox.ini
Due: none

Convert changelog to rst, remove setup.py changelog magic
  CHANGELOG.rst
  MANIFEST.in
  docs/changelog.rst
  setup.py
Due: lint, typecheck, coverage, pages, pages:dev

Add SPDX identifiers to missing rst files
  docs/citation.rst
  docs/further.rst
  docs/index.rst
  docs/installation.rst
  docs/license.rst
  docs/modules.rst
  docs/nomenclature.rst
  docs/overview.rst
  docs/theory.rst
  examples/01_installation_test/README.rst
  examples/02_minimal_example/README.rst
  examples/03_atoms_objects/README.rst
  examples/04_dft_calculations/README.rst
  examples/05_input_output/README.rst
  examples/06_advanced_functionalities/README.rst
  examples/07_fod_extra/README.rst
  examples/08_visualizer_extra/README.rst
  examples/09_sic_calculations/README.rst
  examples/10_domain_generation/README.rst
  examples/11_germanium_solid/README.rst
  examples/12_wannier_localization/README.rst
  examples/13_geometry_optimization/README.rst
  examples/14_custom_functionals/README.rst
  examples/15_custom_functionals_spin/README.rst
  examples/16_fod_optimization/README.rst
  examples/17_reduced_density_gradient/README.rst
  examples/18_k_points/README.rst
  examples/19_band_structures/README.rst
  examples/20_smeared_occupations/README.rst
Due: coverage, pages, pages:dev

Add SPDX identifiers to example python scripts
  CHANGELOG.rst
  docs/examples_builder.py
  examples/01_installation_test/01_installation_test.py
  examples/02_minimal_example/02_minimal_example.py
  examples/03_atoms_objects/03_atoms_objects.py
  examples/04_dft_calculations/04_dft_calculations.py
  examples/05_input_output/05_input_output.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_extra/07_fod_extra.py
  examples/09_sic_calculations/09_sic_calculations.py
  examples/11_germanium_solid/11_germanium_solid.py
  examples/13_geometry_optimization/13_geometry_optimization.py
  examples/14_custom_functionals/14_custom_functionals.py
  examples/15_custom_functionals_spin/15_custom_functionals_spin.py
  examples/16_fod_optimization/16_fod_optimization.py
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
  examples/18_k_points/18_k_points.py
  examples/20_smeared_occupations/20_smeared_occupations.py
Due: lint, typecheck, coverage, pages, pages:dev

ci: Add a pypi release pipeline test
  .gitlab-ci.yml
Due: none

ci: Add curl to fix pypi pipeline
  .gitlab-ci.yml
Due: none

ci: Do not allow failures in manual jobs
  .gitlab-ci.yml
Due: none

ci: Replace dependencies with needs
  .gitlab-ci.yml
Due: none

ci: Overwrite only option in manual jobs
  .gitlab-ci.yml
Due: none

ci: Move from testpypi to pypi (not published yet)
  .gitlab-ci.yml
Due: none

ci: Rename test-pedantic to fulltest
  .gitlab-ci.yml
Due: none

ci: Update deprecated commands
  .gitlab-ci.yml
Due: none

ci: Reorganize
  .gitlab-ci.yml
Due: none

Add ci test using newest versions after moving coverage to deploy stage, update changelog
  .gitlab-ci.yml
  CHANGELOG.rst
Due: none

ci: Move coverage back to test stage, add dev rule to newest
  .gitlab-ci.yml
Due: none

ci: Fix coverage stage, try to add changes to extended workflows
  .gitlab-ci.yml
Due: none

ci: Fix previous commit, since it did not work :(
  .gitlab-ci.yml
Due: none

ci: Add a docker test
  .gitlab-ci.yml
Due: none

ci: Docker build 2nd try
  .gitlab-ci.yml
Due: none

ci: Use sed to get the docker version string
  .gitlab-ci.yml
Due: none
