Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Path conditions:
  lint: any of: *.py, **/*.py
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py

Add tests for new utils functions
  tests/test_orbitals.py
  tests/test_utils.py
  tests/test_xc_utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests: Update tests after the classes rewrite
  eminus/atoms.py
  eminus/gth.py
  tests/test_gth.py
  tests/test_io.py
  tests/test_minimizer.py
  tests/test_orbitals.py
  tests/test_scf.py
  tests/test_tools.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests: Update the Atoms class tests
  tests/test_atoms.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

scf: Remove converged from repr
  eminus/scf.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests: Add a json restart test
  tests/test_io.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Update changelog
  CHANGELOG.md
Due: none

tests: Add test calculations for different spin and charge settings
  tests/dft_calculations/README.md
  tests/dft_calculations/test_charged_systems.py
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_scan.py
  tests/dft_calculations/test_spined_systems.py
  tests/dft_calculations/test_unpolarized_pbe.py
  tests/dft_calculations/test_unpolarized_vwn.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests: Specify link in readme
  tests/dft_calculations/README.md
Due: none

atoms: Fix documentation for operators
  eminus/atoms.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Remove www from some links
  docs/further.rst
  eminus/extras/libxc.py
  eminus/io/pdb.py
  eminus/minimizer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Multiple small fixes and nitpicks
  docs/conf.py
  eminus/atoms.py
  eminus/config.py
  eminus/extras/fods.py
  eminus/io/cube.py
  eminus/minimizer.py
  eminus/operators.py
  pyproject.toml
  tests/extras/test_fods.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

docker: Downgrade notebook
  Dockerfile
Due: none

occupations: Add a multiplicity getter
  eminus/occupations.py
  examples/03_atoms_objects/03_atoms_objects.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Do an unrestricted calculation if the spin is not equal to 0
  eminus/atoms.py
  eminus/occupations.py
  tests/dft_calculations/test_spined_systems.py
  tests/test_atoms.py
  tests/test_occupations.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests: Add to links add references
  tests/test_potentials.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

nix: Add matplotlib
  flake.nix
Due: none

examples: Remove SimpleDFT example
  examples/11_germanium_solid/12_germanium_solid.py
  examples/11_germanium_solid/README.rst
  examples/11_simpledft_examples/11_simpledft_examples.py
  examples/11_simpledft_examples/README.rst
  examples/12_wannier_localization/13_wannier_localization.ipynb
  examples/12_wannier_localization/CH4.xyz
  examples/12_wannier_localization/README.rst
  examples/13_geometry_optimization/14_geometry_optimization.py
  examples/13_geometry_optimization/README.rst
  examples/13_geometry_optimization/dissociation_energy_h2.png
  examples/14_custom_functionals/15_custom_functionals.py
  examples/14_custom_functionals/README.rst
  examples/14_custom_functionals/correlation_energy_error.png
  examples/15_custom_functionals/correlation_energy_error.png
  examples/15_custom_functionals_spin/16_custom_functionals_spin.py
  examples/15_custom_functionals_spin/README.rst
  examples/15_custom_functionals_spin/correlation_energy_error_spin.png
  examples/16_custom_functionals_spin/correlation_energy_error_spin.png
  examples/README.md
  tests/examples/test_scripts.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

docs: Reference eminus-benchmarks
  docs/_templates/custom-examples.rst
  docs/further.rst
Due: coverage, pages

Revert d4aeb26e540eb923ea2101a0ad5e620b004ca6d8
  eminus/extras/torch.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

minimizer: Fix passing of betat to non-cg minimizers
  eminus/minimizer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

docs: Update nomenclature
  docs/nomenclature.rst
Due: coverage, pages

Add a theory introduction page (fix #18)
  .gitignore
  CHANGELOG.md
  docs/conf.py
  docs/further.rst
  docs/index.rst
  docs/license.rst
  docs/references.bib
  docs/theory.rst
  flake.nix
  setup.py
Due: lint, coverage, pages

setup: Fix formatting
  .gitlab-ci.yml
  setup.py
Due: lint, coverage

docs: Add sphinxcontrib-bibtex to the readme
  docs/README.md
Due: coverage, pages

docs: Add separator lines to theory
  docs/theory.rst
Due: coverage, pages

Fix examples naming and tests execution
  examples/11_germanium_solid/11_germanium_solid.py
  examples/12_wannier_localization/12_wannier_localization.ipynb
  examples/13_geometry_optimization/13_geometry_optimization.py
  examples/14_custom_functionals/14_custom_functionals.py
  examples/14_custom_functionals/correlation_energy_error.png
  examples/15_custom_functionals_spin/15_custom_functionals_spin.py
  tests/examples/test_notebooks.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

version: Release v2.6.0
  CHANGELOG.md
  eminus/version.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

examples: Fix PNG generation when running in batch
  examples/13_geometry_optimization/13_geometry_optimization.py
  examples/14_custom_functionals/14_custom_functionals.py
  examples/14_custom_functionals/correlation_energy_error.png
  examples/15_custom_functionals_spin/15_custom_functionals_spin.py
  examples/15_custom_functionals_spin/correlation_energy_error_spin.png
Due: lint, coverage, pages

psp: Add cp2k reference for gth files
  docs/further.rst
  eminus/psp/__init__.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

docs: Fix references
  docs/references.bib
Due: coverage, pages

Document references in data and units
  eminus/data.py
  eminus/units.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

data: Add special points of cuboidal crystal systems
  eminus/data.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

atoms: Allow setting non-cuboidal cells
  eminus/atoms.py
  eminus/scf.py
  tests/test_atoms.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

data: Add hexagonal special points
  eminus/data.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

extras/viewer: Update executed_in_notebook to respect using interact in notebooks
  eminus/extras/viewer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

extras/viewer: Update view_file docstring
  eminus/extras/viewer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Support cub files (can be used instead of cube according to VESTA)
  eminus/extras/viewer.py
  eminus/io/__init__.py
  eminus/io/cube.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation
