Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, pages

pytest:
  stage: test
  script:
  - pip install pytest
  - pytest tests/

pages:
  stage: deploy
  script:
  - pip install -U sphinx sphinx-rtd-theme
  - sphinx-build -b html ./docs ./public
  artifacts:
    paths:
    - public

localizer: Use numpy arrays when possible, also rename prefactor to dV
  plainedft/localizer.py
  plainedft/tools.py
Due: pytest

Add tmp files to gitignore
  .gitignore
Due: none

addons/fods: Use list comprehension
  plainedft/addons/fods.py
Due: pytest

atoms: Update input after initialization
  plainedft/atoms.py
  plainedft/scf.py
Due: pytest

atoms: Make write extra more pythonic
  plainedft/atoms.py
Due: pytest

atoms: Append correct file ending if necessary
  plainedft/atoms.py
Due: pytest

addons/fods: Zip atom and X
  plainedft/addons/fods.py
Due: pytest

addons/viewer: Rename view -> view_mol, remove save function
  plainedft/addons/viewer.py
Due: pytest

addons/viewer: Add grid display function
  plainedft/addons/__init__.py
  plainedft/addons/viewer.py
  setup.py
Due: pytest

addons/fods: Use propper case for pyscf
  plainedft/addons/fods.py
Due: pytest

docs: Disable signature evaluation
  docs/conf.py
Due: pages

init: Add read_cube function
  plainedft/__init__.py
Due: pytest

addons: Do not use .. imports
  plainedft/addons/fods.py
  plainedft/addons/viewer.py
Due: pytest

exc: Very important commit
  plainedft/exc.py
Due: pytest

scf: Do not use mtable data types in signatures
  plainedft/scf.py
Due: pytest

Use zeros_like and ones_like
  plainedft/exc.py
  plainedft/operators.py
Due: pytest

Use empty and empty_like when possible
  plainedft/energies.py
  plainedft/gth.py
  plainedft/localizer.py
  plainedft/operators.py
  plainedft/scf.py
  plainedft/tools.py
Due: pytest

Add a few more READMEs
  README.md
  docs/README.md
  docs/_templates/README.md
  docs/modules.rst
  plainedft/README.md
  plainedft/__init__.py
  plainedft/addons/README.md
  plainedft/addons/__init__.py
  plainedft/pade_gth/README.md
  plainedft/version.py
  tests/README.md
Due: pytest, pages

atoms: Rename split -> line_split
  plainedft/atoms.py
Due: pytest

data: Remove comment
  plainedft/data.py
Due: pytest

gth: Make path a kw-argument
  plainedft/gth.py
Due: pytest

energies: Make gcut and ebsl kw arguments
  plainedft/energies.py
Due: pytest

tests: Add a small test notice
  tests/spin_paired/test_spin_paired.py
Due: none

Add Natoms to atoms object, and use it when possible
  plainedft/addons/fods.py
  plainedft/atoms.py
  plainedft/energies.py
  plainedft/gth.py
  plainedft/scf.py
  plainedft/tools.py
Due: pytest

Split atoms into atoms_io (again)
  docs/modules.rst
  plainedft/README.md
  plainedft/__init__.py
  plainedft/addons/fods.py
  plainedft/addons/viewer.py
  plainedft/atoms.py
  plainedft/atoms_io.py
Due: pytest, pages

addons/viewer: Fix FOD viewer
  plainedft/addons/viewer.py
Due: pytest

gth: Show path if read_gth failes
  plainedft/gth.py
Due: pytest

version: Add a version info function
  plainedft/README.md
  plainedft/__init__.py
  plainedft/version.py
Due: pytest

version: Rename addon -> pkg
  plainedft/version.py
Due: pytest

setup: Add jupyter_rfb dependency, needed by vispy for notebook displaying
  plainedft/version.py
  setup.py
Due: pytest

gth: Set psp_path to None, otherwise sphinx can not build the default arg
  plainedft/gth.py
Due: pytest

Remove __method docstrings
  plainedft/atoms.py
  plainedft/energies.py
Due: pytest

docs: Excluded dunder methods from summary, like __init__
  docs/_templates/custom-class.rst
  docs/_templates/custom-module.rst
  docs/conf.py
Due: pages

ci: Hold python at version 3.9 for now
  .gitlab-ci.yml
Due: none

energies: Rewrite energies object, add Esic to it
  plainedft/energies.py
Due: pytest

exc: Improve lda_pw_c_spin
  plainedft/exc.py
Due: pytest

exc: Simplify exc handling
  plainedft/exc.py
Due: pytest

tests: Split spinpol test into single calculations
  .gitlab-ci.yml
  tests/spin_paired/test_spin_paired.py
Due: none

addons/fods: Ass spin to pyscf/pyflosic calc to handle atoms
  plainedft/addons/fods.py
Due: pytest

init: Expose get_psi and get_epsilon
  plainedft/__init__.py
Due: pytest

Path conditions:
  pytest: any of: plainedft/*, plainedft/**/*
  pages: any of: docs/*, docs/**/*
