Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check .

typecheck:
  stage: test
  script:
  - pip install mypy
  - mypy .

coverage:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install coverage pyscf pytest pytest-cov
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage xml
  - coverage html
  ...

minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.6.0
  - export OMP_NUM_THREADS=$nproc

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.12'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip -y --no-install-recommends

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip

platform:nixos:
  stage: test-pedantic
  script:
  - nix --extra-experimental-features "nix-command flakes" shell nixpkgs#gnused -c sed -i "s/  torch-bin/  \# torch-bin/g" flake.nix
  - nix --extra-experimental-features "nix-command flakes" shell nixpkgs#gnused -c sed -i "s/matplotlib/\# matplotlib/g" flake.nix
  ...

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python -y --no-progress
  ...

installation:
  stage: test-pedantic
  script:
  - pip install build twine
  - python -m build
  - twine check dist/*
  - rm -rf eminus/psp/
  - cd dist/
  - tar -xf eminus-*.tar.gz
  - pip install eminus-*/.
  - python -c "import eminus; eminus.demo()"
  - pip uninstall eminus -y
  - pip install eminus-*.whl
  ...

pages:
  stage: deploy
  dependencies:
  - coverage
  script:
  - pip install -e .
  - pip install sphinx furo sphinxcontrib-bibtex
  - sphinx-build -j $nproc -b html ./docs ./public
  - pip install notebook
  ...

pages:dev:
  stage: deploy
  dependencies: null
  script:
  - pip install -e .
  - pip install sphinx furo sphinxcontrib-bibtex
  - sphinx-build -j $nproc -b html ./docs ./public
  - pip install notebook
  ...

kpts: Allow numbers as a for init, test energies for multiple kpts
  eminus/extras/kpoints.py
  eminus/kpoints.py
  tests/test_energies.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

kpoints: Add Gammaa centered grid
  eminus/kpoints.py
  tests/test_kpoints.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

pytest: Filter the pyscf b2lyp warning
  tox.ini
Due: none

tests: Add k-point extra test
  eminus/extras/kpoints.py
  tests/extras/test_kpoints.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Rename kpoints extra to symmetry
  docs/modules.rst
  eminus/extras/README.md
  eminus/extras/__init__.py
  eminus/extras/symmetry.py
  setup.py
  tests/extras/test_symmetry.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

kpoints: Fix logic, add new symmetry test
  eminus/kpoints.py
  tests/extras/test_symmetry.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

atoms: Add a handy set_k function
  eminus/atoms.py
  tests/test_atoms.py
  tests/test_energies.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

kpoints: Fix gamma_centered and k_shift options, add missing tests
  eminus/kpoints.py
  tests/test_kpoints.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Small fixes
  eminus/atoms.py
  eminus/kpoints.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Add k-point examples
  examples/12_wannier_localization/README.rst
  examples/18_k_points/18_k_points.py
  examples/18_k_points/README.rst
  examples/19_band_structures/19_band_structures.ipynb
  examples/19_band_structures/README.rst
  examples/README.md
  tests/examples/test_notebooks.py
  tests/examples/test_scripts.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

tests: Fix examples test
  tests/examples/test_notebooks.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Speedup index array creation
  eminus/atoms.py
  eminus/kpoints.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Use the overlap operator if possible
  eminus/gga.py
  eminus/gth.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Small documentation updates
  eminus/README.md
  eminus/band_minimizer.py
  eminus/extras/fods.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Use empty_like over deepcopy if possible
  eminus/band_minimizer.py
  eminus/dft.py
  eminus/minimizer.py
  eminus/occupations.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Simplify operator handling
  eminus/atoms.py
  eminus/extras/__init__.py
  eminus/io/json.py
  eminus/operators.py
  eminus/utils.py
  tests/test_atoms.py
  tests/test_utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

scf: Add one more check for kpts when minimizing bands
  eminus/scf.py
  examples/19_band_structures/19_band_structures.ipynb
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

dft: Remove an unnecessary copy
  eminus/dft.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Small fixes
  eminus/scf.py
  tests/test_utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Update changelog
  CHANGELOG.md
  eminus/scf.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Big documentation update
  docs/introduction.rst
  docs/nomenclature.rst
  eminus/atoms.py
  eminus/band_minimizer.py
  eminus/dft.py
  eminus/kpoints.py
  eminus/operators.py
  eminus/scf.py
  eminus/utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

extras/torch: Fix active indices
  eminus/extras/torch.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

WIP: Fix grid definition for non-wfn fields (fix #39)
  eminus/atoms.py
  eminus/extras/torch.py
  eminus/kpoints.py
  eminus/localizer.py
  eminus/operators.py
  eminus/scf.py
  examples/18_k_points/18_k_points.py
  examples/19_band_structures/19_band_structures.ipynb
  tests/extras/test_torch.py
  tests/test_atoms.py
  tests/test_gth.py
  tests/test_io.py
  tests/test_kpoints.py
  tests/test_operators.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

tests: MAke energy tests less strict
  tests/test_energies.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

nix: Back to unstable
  flake.nix
Due: none

tests: lint
  tests/test_energies.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

tests: Add k-dependent bulk comparisons
  tests/dft_calculations/README.md
  tests/dft_calculations/test_bulk.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

tests: Activate scan bulk test
  eminus/gga.py
  tests/dft_calculations/test_bulk.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Update changelog
  CHANGELOG.md
Due: none

nix: Add a lock file
  flake.lock
Due: none

tests: Add a k-point permutation test
  tests/test_dft.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Update docstrings and add more references
  docs/license.rst
  eminus/extras/libxc.py
  eminus/extras/symmetry.py
  eminus/extras/viewer.py
  eminus/io/traj.py
  eminus/kpoints.py
  tests/dft_calculations/README.md
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

Fix eigenenergy calculation of unoccupied states, add band structure tests, small restructure
  eminus/dft.py
  eminus/extras/viewer.py
  eminus/gth.py
  eminus/tools.py
  examples/19_band_structures/19_band_structures.ipynb
  tests/dft_calculations/README.md
  tests/dft_calculations/test.jl
  tests/dft_calculations/test_band_structure.py
  tests/dft_calculations/test_bulk.py
  tests/dft_calculations/test_scan.py
  tests/test_tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

dft: Fix docstring
  eminus/dft.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Cleanup of previous commit
  tests/dft_calculations/test.jl
  tests/dft_calculations/test_band_structure.py
  tests/test_tools.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

tests: Add UKS band structure test
  tests/dft_calculations/test_band_structure.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Add a test using custom k-points
  eminus/atoms.py
  tests/dft_calculations/test_custom_k.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Add a test for symmetrized DFT calculations, change defaults
  eminus/extras/symmetry.py
  tests/extras/test_symmetry.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Document if a variable can be None
  eminus/cell.py
  eminus/dft.py
  eminus/domains.py
  eminus/energies.py
  eminus/extras/libxc.py
  eminus/extras/viewer.py
  eminus/io/cube.py
  eminus/io/gth.py
  eminus/io/pdb.py
  eminus/io/traj.py
  eminus/io/xyz.py
  eminus/minimizer.py
  eminus/orbitals.py
  eminus/scf.py
  eminus/tools.py
  eminus/xc/gga_c_chachiyo.py
  eminus/xc/gga_c_pbe.py
  eminus/xc/gga_x_chachiyo.py
  eminus/xc/gga_x_pbe.py
  eminus/xc/utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Path conditions:
  lint: any of: *.py, **/*.py
  typecheck: any of: *.py, **/*.py
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:nixos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
