Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check .

coverage:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install coverage pyscf pytest pytest-cov
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage xml
  - coverage html
  ...

minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.6.0

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.8'
      - '3.9'
      - '3.10'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip -y --no-install-recommends

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip
  - python3 -m pip config set global.no-warn-script-location true

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python -y --no-progress
  ...

installation:
  stage: test-pedantic
  script:
  - pip install build twine
  - python -m build
  - twine check dist/*
  - rm -rf eminus/psp/
  - cd dist/
  - tar -xf eminus-*.tar.gz
  - pip install eminus-*/.
  - python -c "import eminus; eminus.SCF(eminus.Atoms('He', (0, 0, 0)), etol=10).run()"
  - pip uninstall eminus -y
  ...

pages:
  stage: deploy
  dependencies:
  - coverage
  script:
  - pip install -e .
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

The grand SCF rewrite
  eminus/dft.py
  eminus/energies.py
  eminus/extras/dispersion.py
  eminus/gga.py
  eminus/gth.py
  eminus/io/json.py
  eminus/minimizer.py
  eminus/potentials.py
  eminus/scf.py
  examples/04_dft_calculations/04_dft_calculations.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/11_simpledft_examples/11_simpledft_examples.py
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_scan.py
  tests/dft_calculations/test_unpolarized_pbe.py
  tests/dft_calculations/test_unpolarized_vwn.py
  tests/test_dft.py
  tests/test_energies.py
  tests/test_gth.py
  tests/test_io.py
  tests/test_minimizer.py
  tests/test_scf.py
  tests/test_tools.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

xc: Add a comment to PWmod
  eminus/xc/lda_c_pw_mod.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

elec_symbols is now a tuple , so move it to the signature
  eminus/extras/fods.py
  eminus/extras/viewer.py
  eminus/io/cube.py
  eminus/io/pdb.py
  eminus/io/xyz.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

atoms: Rewrite docstring
  eminus/atoms.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tools: Fix after the scf rewrite
  eminus/io/gth.py
  eminus/tools.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests: Coverage improvements
  tests/test_dft.py
  tests/test_gth.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

xc/utils: Create IMPLEMENTED less verbose
  eminus/xc/utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Add documentation to module constants
  CHANGELOG.md
  docs/_templates/custom-module.rst
  eminus/data.py
  eminus/minimizer.py
  eminus/potentials.py
  eminus/units.py
  eminus/version.py
  eminus/xc/utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

logger: Set formatter and handler to protected, document log
  eminus/logger.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Update changelog
  CHANGELOG.md
Due: none

ruff: Add flake8 builtins rule
  docs/conf.py
  eminus/logger.py
  pyproject.toml
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

scf: Account for non-run instances in recenter
  eminus/scf.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Improve some examples
  examples/01_installation_test/01_installation_test.py
  examples/04_dft_calculations/04_dft_calculations.py
  examples/05_input_output/05_input_output.py
  examples/12_germanium_solid/12_germanium_solid.py
  examples/15_custom_functionals/README.rst
  examples/16_custom_functionals_spin/README.rst
Due: lint, coverage, pages

gth: Speedup local gth initialization
  eminus/gth.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Misc performance improvements by using einsum
  CHANGELOG.md
  eminus/dft.py
  eminus/gga.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

atoms: Mark atoms property as private
  eminus/atoms.py
  eminus/domains.py
  eminus/extras/fods.py
  eminus/extras/viewer.py
  eminus/io/cube.py
  eminus/io/pdb.py
  eminus/io/xyz.py
  eminus/tools.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Partially revert 6ec89186583ac6f378b43aec09f1c901d8ee4eed
  eminus/dft.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

gga: Compress einsums into one + add one
  eminus/gga.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

units: Remove conversions not involving a.u.
  eminus/scf.py
  eminus/units.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

utils: Add a molecule string separator
  eminus/scf.py
  eminus/utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

logger: Throw an error when using bogus log levels
  eminus/logger.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Use the numbers module for number type comparisons
  eminus/config.py
  eminus/domains.py
  eminus/logger.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

utils: Add a function to get valence charges for a list of atom symbols
  eminus/scf.py
  eminus/utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Implement an occupations dataclass to de-clutter the atoms object
  docs/modules.rst
  eminus/README.md
  eminus/occupations.py
  tests/test_occupations.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

logger: Fix upper logic
  eminus/logger.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Re-add a minimal flake8 configuration
  docs/conf.py
  examples/14_geometry_optimization/14_geometry_optimization.py
  examples/15_custom_functionals/15_custom_functionals.py
  examples/16_custom_functionals_spin/16_custom_functionals_spin.py
  tox.ini
Due: lint, coverage, pages

occupations: Add empty states when no electrons are present, fix io, update scf
  eminus/io/json.py
  eminus/occupations.py
  eminus/scf.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

The grand Atoms rewrite (fix #11)
  eminus/atoms.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Update modules using the new atoms object
  eminus/dft.py
  eminus/energies.py
  eminus/extras/dispersion.py
  eminus/extras/fods.py
  eminus/extras/torch.py
  eminus/gga.py
  eminus/gth.py
  eminus/io/cube.py
  eminus/io/pdb.py
  eminus/io/xyz.py
  eminus/localizer.py
  eminus/minimizer.py
  eminus/operators.py
  eminus/orbitals.py
  eminus/scf.py
  eminus/tools.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

io/json: Simplify read_json
  eminus/io/json.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

docs: Use pathlib.glob, add pngs to downloads
  docs/examples_builder.py
Due: lint, coverage, pages

extras: Update documentation
  eminus/extras/dispersion.py
  eminus/extras/fods.py
  eminus/extras/libxc.py
  eminus/extras/torch.py
  eminus/extras/viewer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Raise exceptions instead of log.error in some places
  eminus/gth.py
  eminus/io/__init__.py
  eminus/minimizer.py
  eminus/scf.py
  eminus/utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

io: Update documentation
  eminus/io/cube.py
  eminus/io/gth.py
  eminus/io/json.py
  eminus/io/pdb.py
  eminus/io/xyz.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Documentation updates and spell fixes
  eminus/README.md
  eminus/atoms.py
  eminus/config.py
  eminus/dft.py
  eminus/domains.py
  eminus/energies.py
  eminus/extras/fods.py
  eminus/gga.py
  eminus/gth.py
  eminus/io/__init__.py
  eminus/localizer.py
  eminus/logger.py
  eminus/minimizer.py
  eminus/operators.py
  eminus/orbitals.py
  eminus/potentials.py
  eminus/tools.py
  eminus/utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

examples: Fix spelling
  examples/03_atoms_objects/03_atoms_objects.py
  examples/05_input_output/05_input_output.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_extra/07_fod_extra.py
  examples/12_germanium_solid/12_germanium_solid.py
  examples/15_custom_functionals/15_custom_functionals.py
Due: lint, coverage, pages

Sort attributes in classes, add separators
  eminus/atoms.py
  eminus/config.py
  eminus/occupations.py
  eminus/scf.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

atoms: Add number of grid points and volume element properties
  eminus/atoms.py
  eminus/dft.py
  eminus/domains.py
  eminus/energies.py
  eminus/extras/torch.py
  eminus/gga.py
  eminus/localizer.py
  eminus/operators.py
  eminus/tools.py
  tests/dft_calculations/test_unpolarized_vwn.py
  tests/test_atoms.py
  tests/test_dft.py
  tests/test_gga.py
  tests/test_orbitals.py
  tests/test_tools.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Path conditions:
  lint: any of: *.py, **/*.py
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
