Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, pages

.gitlab-ci.yml:

image: python:3.10-slim

stages:
  - test
  - deploy

before_script:
  - apt-get update -y
  # libgomp1 is not included in small docker images but needed for numpy
  - apt-get install -y libgomp1 --no-install-recommends
  # Disable warnings about newer pip versions available
  - pip config set global.disable-pip-version-check true
  - pip install -e .

# Lint check python files
flake8:
  stage: test
  script:
  - pip install flake8
  - flake8
  only:
    changes:
      - eminus/*
      - eminus/**/*
      - examples/*
      - tests/*

# Test code functionality
pytest:
  stage: test
  script:
  - pip install pytest
  - pytest --tb=short tests/ --ignore=tests/examples
  only:
    changes:
      - eminus/*
      - eminus/**/*
      - tests/*

# Build documentation
pages:
  stage: deploy
  script:
    - pip install sphinx furo
    - sphinx-build -b html ./docs ./public
    - >-
      find public/
      \( -name '*.css' -o -name '*.html' -o -name '*.js' -o -name '*.svg' \)
      -exec gzip -vrk9 {} \;
  artifacts:
    paths:
    - public
  only:
    changes:
      - docs/*
      - docs/**/*
      - examples/**/*
      - eminus/version.py

scf: Remove experimental guess
  eminus/scf.py
Due: flake8, pytest

scf: Add advanced docstrings
  eminus/scf.py
Due: flake8, pytest

Fix A LOT of typos
  CHANGELOG.md
  README.md
  docs/further.rst
  eminus/README.md
  eminus/__init__.py
  eminus/addons/README.md
  eminus/addons/__init__.py
  eminus/addons/fods.py
  eminus/addons/viewer.py
  eminus/atoms.py
  eminus/atoms_io.py
  eminus/energies.py
  eminus/exc.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  examples/README.md
  tests/README.md
Due: flake8, pytest, pages

Rename variables to be more inline with SimpleDFT
  eminus/atoms.py
  eminus/energies.py
  eminus/exc.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  eminus/utils.py
  examples/03_atoms_objects/03_atoms_objects.py
Due: flake8, pytest, pages

Rename atoms.S -> atoms.s
  eminus/atoms.py
  eminus/atoms_io.py
  eminus/localizer.py
  eminus/operators.py
  eminus/scf.py
  eminus/tools.py
  examples/03_atoms_objects/03_atoms_objects.py
  examples/05_input_output/05_input_output.py
  tests/spin_paired/test_spin_paired.py
Due: flake8, pytest, pages

Remove newlines at end of readmes
  docs/README.md
  docs/_templates/README.md
  docs/logo/README.md
  eminus/pade_gth/README.md
Due: flake8, pytest, pages

license: Omit appendix
  LICENSE
Due: none

docs: Add development information, license, and some more links
  docs/further.rst
  docs/index.rst
  docs/installation.rst
  docs/introduction.rst
  docs/license.rst
  examples/07_fod_addon/README.rst
Due: pages

More spell-checking
  eminus/__init__.py
  eminus/addons/fods.py
  eminus/atoms.py
  eminus/energies.py
  eminus/exc.py
  eminus/localizer.py
  eminus/operators.py
  eminus/scf.py
  eminus/tools.py
Due: flake8, pytest

docs: Make example generation more robust
  docs/conf.py
Due: pages

version: Improve threading info
  eminus/version.py
Due: flake8, pytest, pages

examples: Add grid view to example 08
  .gitignore
  examples/08_visualizer_addon/.ipynb_checkpoints/08_visualizer_addon-checkpoint.ipynb
  examples/08_visualizer_addon/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  tests/README.md
  tests/examples/test_examples.py
Due: flake8, pytest, pages

init: Fix formatting
  eminus/__init__.py
Due: flake8, pytest

docstrings: Finishing touches
  docs/conf.py
  eminus/addons/__init__.py
  eminus/addons/fods.py
  eminus/addons/workflows.py
  eminus/energies.py
  eminus/exc.py
  eminus/localizer.py
  eminus/operators.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  eminus/units.py
  eminus/utils.py
  eminus/version.py
Due: flake8, pytest, pages

Optimize exc calculation
  eminus/energies.py
  eminus/exc.py
  eminus/scf.py
Due: flake8, pytest

scf: Optimize density calculation
  eminus/scf.py
Due: flake8, pytest

Move get_n_single and simplify get_Esic
  eminus/energies.py
  eminus/scf.py
  examples/09_sic_calculations/09_sic_calculations.py
Due: flake8, pytest, pages

Small examples improvements
  docs/conf.py
  docs/index.rst
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  tests/examples/test_examples.py
Due: pages

Rename: Kwargs -> Keyword Args
  eminus/addons/fods.py
  eminus/addons/viewer.py
  eminus/addons/workflows.py
  eminus/atoms.py
  eminus/atoms_io.py
  eminus/energies.py
  eminus/exc.py
  eminus/gth.py
  eminus/operators.py
  eminus/scf.py
  eminus/tools.py
Due: flake8, pytest

Use proper Google style docstrings
  eminus/addons/fods.py
  eminus/addons/viewer.py
  eminus/addons/workflows.py
  eminus/atoms.py
  eminus/atoms_io.py
  eminus/energies.py
  eminus/exc.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  eminus/units.py
  eminus/utils.py
Due: flake8, pytest

docs: Add napoleon
  docs/conf.py
Due: pages

Use proper return types in docstrings
  docs/conf.py
  eminus/addons/fods.py
  eminus/addons/viewer.py
  eminus/addons/workflows.py
  eminus/atoms_io.py
  eminus/energies.py
  eminus/exc.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  eminus/units.py
  eminus/utils.py
Due: flake8, pytest, pages

Bring description and parameter to one line
  eminus/addons/fods.py
  eminus/addons/viewer.py
  eminus/addons/workflows.py
  eminus/atoms.py
  eminus/atoms_io.py
  eminus/energies.py
  eminus/exc.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/scf.py
  eminus/tools.py
  eminus/units.py
  eminus/utils.py
Due: flake8, pytest

Remove unnecessary docstring linebreaks
  eminus/addons/fods.py
  eminus/addons/workflows.py
  eminus/atoms.py
  eminus/atoms_io.py
  eminus/energies.py
  eminus/exc.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/scf.py
  eminus/tools.py
  eminus/utils.py
Due: flake8, pytest

Add flake8 docstring linting, and fix warnings
  .flake8
  .gitlab-ci.yml
  docs/conf.py
  docs/further.rst
  eminus/__init__.py
  eminus/addons/__init__.py
  eminus/addons/fods.py
  eminus/addons/viewer.py
  eminus/addons/workflows.py
  eminus/atoms.py
  eminus/atoms_io.py
  eminus/data.py
  eminus/energies.py
  eminus/exc.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/pade_gth/__init__.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  eminus/units.py
  eminus/utils.py
  eminus/version.py
  setup.py
  tests/examples/README.md
  tests/examples/test_examples.py
  tests/spin_paired/test_spin_paired.py
Due: flake8, pytest, pages

Fix flake8 config file
  .flake8
Due: none

Add TODO chores
  .flake8
  .gitlab-ci.yml
Due: none

Add flake8 import order extension and fix related warnings
  .flake8
  .gitlab-ci.yml
  docs/further.rst
  eminus/__init__.py
  eminus/addons/__init__.py
  eminus/addons/fods.py
  eminus/addons/viewer.py
  eminus/addons/workflows.py
  eminus/operators.py
  examples/05_input_output/05_input_output.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_addon/07_fod_addon.py
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  tests/examples/test_examples.py
  tests/spin_paired/test_spin_paired.py
Due: flake8, pytest, pages

atoms: Do not save G and Gc in Atoms
  eminus/atoms.py
  eminus/gth.py
  eminus/operators.py
Due: flake8, pytest

docs: Add returns
  docs/conf.py
Due: pages

Add operator tests and improve Linv
  eminus/operators.py
  tests/README.md
  tests/operators/README.md
  tests/operators/test_operators.py
Due: flake8, pytest

Improve setup.py
  setup.py
Due: none

Nit: Make flake8 happy
  setup.py
Due: none

Small general nits
  .flake8
  .gitlab-ci.yml
  setup.py
Due: none

Add preview link to notebook examples
  docs/conf.py
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  examples/README.md
Due: flake8, pages

addons: Improve documentation
  docs/modules.rst
  eminus/addons/README.md
  eminus/addons/__init__.py
  eminus/addons/fods.py
  eminus/addons/orbitals.py
  eminus/data.py
Due: flake8, pytest, pages

Add some references
  docs/modules.rst
  eminus/pade_gth/__init__.py
  eminus/units.py
  eminus/utils.py
  setup.py
Due: flake8, pytest, pages

Add an LibXC intreface
  docs/modules.rst
  eminus/addons/README.md
  eminus/addons/__init__.py
  eminus/addons/libxc.py
  eminus/atoms.py
  eminus/exc.py
  eminus/version.py
  examples/03_atoms_objects/03_atoms_objects.py
  setup.py
Due: flake8, pytest, pages

atoms: Fix typo
  eminus/atoms.py
  examples/README.md
Due: flake8, pytest, pages

Small libxc and addon improvements
  eminus/addons/__init__.py
  eminus/addons/fods.py
  eminus/addons/libxc.py
  eminus/addons/viewer.py
  eminus/exc.py
  eminus/version.py
Due: flake8, pytest, pages
