Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

lint:
  stage: test
  script:
  - pip install -e .
  - pip install flake8 flake8-docstrings flake8-import-order
  - flake8

pytest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short

pytest:minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:3.6-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.4.0

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.7'
      - '3.8'
      - '3.9'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip --no-install-recommends -y

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python --no-progress -y
  ...

pages:
  stage: deploy
  script:
  - pip install -e .
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  - find examples -name '*.html' -exec mv {} public/_static \;
  ...

io: Add trajectory keyword to pdb and xyz file writer
  CHANGELOG.md
  eminus/io/pdb.py
  eminus/io/xyz.py
  tests/test_io.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

ruff: Add perflint rules
  eminus/xc/utils.py
  pyproject.toml
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

io/pdb: Add newline at end of file to fix trajectories
  eminus/io/pdb.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Comply with D107
  eminus/atoms.py
  eminus/config.py
  eminus/logger.py
  eminus/scf.py
  pyproject.toml
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

ruff: Refactor pylint rule selection and increase minimum ruff version
  pyproject.toml
  setup.py
Due: lint

ci: Add a installation test to pedantic
  .gitlab-ci.yml
Due: none

ci: Fix installation test
  .gitlab-ci.yml
Due: none

ci: Update installation test to test the wheel, too
  .gitlab-ci.yml
Due: none

setup: Use include_package_data over package_data and remove zip_safe keyword
  setup.py
Due: lint

ci: Install build in installation test
  .gitlab-ci.yml
Due: none

ci: First test to publish html coverage reports
  .gitlab-ci.yml
Due: none

ci: Fix coverage artifacts path
  .gitlab-ci.yml
Due: none

docs: Link the coverage report
  CHANGELOG.md
  README.md
  docs/further.rst
  docs/introduction.rst
Due: pages

minimizer: Fix cg cg_test
  eminus/minimizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

operators: Remove case distinction on K
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

dft: Remove unused keyword from get_n_spin
  eminus/dft.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

localizer: Add an optional seed for the random guess for wannier localizations
  eminus/localizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add some tests and modify some for better coverage
  CHANGELOG.md
  tests/test_domains.py
  tests/test_gga.py
  tests/test_gth.py
  tests/test_io.py
  tests/test_localizer.py
  tests/test_orbitals.py
  tests/test_scf.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update badges
  README.md
  docs/introduction.rst
Due: pages

ruff: Raise max mccabe complexity to 15
  pyproject.toml
Due: none

Rework file viewer
  CHANGELOG.md
  eminus/extras/viewer.py
  tests/extras/CH4.pdb
  tests/extras/test_view_file.ipynb
  tests/extras/test_viewer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

pytest: Remove pyscf warning filter
  tox.ini
Due: none

ci: Add a twine check to the installation test
  .gitlab-ci.yml
Due: none

io/cube: Actually read the field data from cube files
  CHANGELOG.md
  eminus/extras/viewer.py
  eminus/io/cube.py
  examples/05_input_output/05_input_output.py
  tests/test_io.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docker: Fix for new jupyter versions and fix nglview
  Dockerfile
Due: none

version: Release v2.5.0
  CHANGELOG.md
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras: Add initial dft-d3 support
  CHANGELOG.md
  docs/modules.rst
  eminus/energies.py
  eminus/extras/README.md
  eminus/extras/__init__.py
  eminus/extras/dftd3.py
  eminus/scf.py
  flake.nix
  setup.py
  tests/extras/test_dftd3.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

docs: Add listing of licences of all dependecies
  Dockerfile
  docs/license.rst
Due: pages

Update changelog
  CHANGELOG.md
Due: none

dftd3: Fix documentation in energies and fix import if not installed
  eminus/energies.py
  eminus/extras/dftd3.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Rename dftd3 extra to dispersion to prevent possible name-clashs
  docs/modules.rst
  eminus/energies.py
  eminus/extras/README.md
  eminus/extras/__init__.py
  eminus/extras/dispersion.py
  flake.nix
  setup.py
  tests/extras/test_dispersion.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

extras/dispersion: Fix a weird import bug in the dftd3 module
  eminus/extras/dispersion.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/dispersion: Support lda corrections
  eminus/extras/dispersion.py
  tests/extras/test_dispersion.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Updates to return statements
  docs/conf.py
  docs/examples_builder.py
  eminus/atoms.py
  eminus/config.py
  eminus/extras/viewer.py
  eminus/gth.py
  eminus/io/__init__.py
  eminus/io/cube.py
  eminus/io/json.py
  eminus/io/pdb.py
  eminus/io/xyz.py
  eminus/minimizer.py
  eminus/orbitals.py
  eminus/scf.py
  eminus/utils.py
  eminus/version.py
  eminus/xc/utils.py
  pyproject.toml
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

docs: Add type hints
  docs/conf.py
  docs/examples_builder.py
Due: lint, pages

config: Remove one trailing return
  eminus/config.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras: Updates to exceptions
  eminus/extras/dispersion.py
  eminus/extras/viewer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update changelog
  CHANGELOG.md
  docs/conf.py
Due: lint, pages

Path conditions:
  lint: any of: *.py, **/*.py
  pytest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pytest:minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*
