Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, pages

flake8:
  stage: test
  script:
  - pip install flake8 flake8-docstrings flake8-import-order
  - flake8

pytest:
  stage: test
  script:
  - pip install pytest
  - pytest tests/dft_calculations --tb=short

pages:
  stage: deploy
  script:
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples/ -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  - find examples/ -name '*.html' -exec mv {} public/_static \;
  - apt-get install -y minify
  ...

ci: Fix
  .gitlab-ci.yml
Due: none

ci: Trigger flake8 for subfolders, too
  .gitlab-ci.yml
Due: none

Use pathlib over os.path
  docs/conf.py
  docs/examples_builder.py
  eminus/addons/fods.py
  eminus/filehandler.py
  eminus/pade/__init__.py
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
  tests/examples/test_examples.py
Due: flake8, pytest, pages

Update dev changelog
  CHANGELOG.md
Due: none

setup: Simplify pyflosic version
  setup.py
Due: none

ci: Fix flake8 trigger (?)
  .gitlab-ci.yml
Due: none

ci: Fix flake8 trigger
  .gitlab-ci.yml
Due: none

ci: Use oldest dependencies for oldest test
  .gitlab-ci.yml
Due: none

xc: Implement the chachiyo correlation functional
  CHANGELOG.md
  eminus/xc.py
Due: flake8, pytest

Use scipy.linalg over numpy.linalg
  eminus/addons/fods.py
  eminus/addons/viewer.py
  eminus/atoms.py
  eminus/dft.py
  eminus/domains.py
  eminus/energies.py
  eminus/localizer.py
  eminus/potentials.py
  eminus/utils.py
Due: flake8, pytest

Update URLs and keywords
  CONTRIBUTING.md
  README.md
  docs/conf.py
  docs/examples_builder.py
  docs/further.rst
  docs/installation.rst
  docs/introduction.rst
  setup.py
Due: pages

SS: Update README.md; minor changes; do not start a sentence with small letters. Made the intro more concise, e.g., removed empty lines.
  README.md
Due: none

md: Fix some whitespaces
  CONTRIBUTING.md
  README.md
Due: none

energies: Fix the sic energy calculation
  CHANGELOG.md
  eminus/energies.py
Due: flake8, pytest

energies: Remove now useless import
  eminus/energies.py
Due: flake8, pytest

Minor code simplifications
  eminus/addons/fods.py
  eminus/dft.py
  eminus/xc.py
Due: flake8, pytest

tests/dft_calculation: Fix julia script in readme
  tests/dft_calculations/README.md
Due: none

scf: Fix wrong name in clear
  eminus/scf.py
Due: flake8, pytest

Add pseudo-random starting guess, and add a simpledft example
  .flake8
  eminus/dft.py
  eminus/scf.py
  eminus/utils.py
  examples/11_simpledft_examples/11_simpledft_examples.py
  examples/11_simpledft_examples/README.rst
  tests/examples/test_examples.py
Due: flake8, pytest, pages

Automatically adapt the printed energy accuracy from the convergence tolerance
  eminus/minimizer.py
  eminus/scf.py
Due: flake8, pytest

scf: Fixup for print_precision
  eminus/scf.py
Due: flake8, pytest

Update random number generation for wave functions
  .gitlab-ci.yml
  eminus/README.md
  eminus/dft.py
  eminus/scf.py
  setup.py
  tests/dft_calculations/README.md
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
Due: flake8, pytest

Use perf_counter over default_timer
  eminus/scf.py
  examples/10_domain_generation/10_domain_generation.ipynb
  examples/11_simpledft_examples/11_simpledft_examples.py
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
  tests/examples/test_examples.py
  tests/operators/test_operators.py
Due: flake8, pytest, pages

Update minmal numpy version
  .gitlab-ci.yml
  setup.py
Due: none

Attempt to fix RNG for all versions
  .gitlab-ci.yml
  eminus/dft.py
  eminus/utils.py
  setup.py
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
Due: flake8, pytest

Add missing references
  eminus/energies.py
  eminus/filehandler.py
  eminus/localizer.py
  eminus/operators.py
  eminus/orbitals.py
  eminus/utils.py
Due: flake8, pytest

utils: Follow MINSTD in pseudo_uniform
  eminus/utils.py
Due: flake8, pytest

Update changelog
  CHANGELOG.md
Due: none

Update links for now
  CONTRIBUTING.md
  README.md
  docs/conf.py
  docs/examples_builder.py
  docs/further.rst
  docs/installation.rst
  docs/introduction.rst
  examples/11_simpledft_examples/README.rst
  setup.py
Due: pages

docs: Add simpledft.jl reference
  docs/further.rst
Due: pages

docs: Update overview image
  docs/_images/features.svg
Due: pages

examples: Update the SimpleDFT example
  examples/11_simpledft_examples/11_simpledft_examples.py
  examples/11_simpledft_examples/README.rst
Due: pages

Update references once more
  eminus/addons/libxc.py
  eminus/dft.py
  eminus/gth.py
Due: flake8, pytest

examples: Regen notebooks and add nspin to example 02
  examples/02_minimal_example/02_minimal_example.py
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  examples/10_domain_generation/10_domain_generation.ipynb
Due: pages

tests: Set minimization steps to dft tests
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
Due: none

xc: Calculate mask only once and mask n_spin before calculating zeta to prefent nans
  eminus/xc.py
Due: flake8, pytest

BREAKING: Update default box size and number of scf steps
  eminus/atoms.py
  eminus/scf.py
Due: flake8, pytest

tests: Fine tune minimization steps in dft tests
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
Due: none

Misc docstring changes
  eminus/energies.py
  eminus/operators.py
Due: flake8, pytest

utils: Fix missing doc generation for decorated functions
  eminus/utils.py
Due: flake8, pytest

Path conditions:
  flake8: any of: eminus/*, eminus/**/*, examples/*, tests/*
  pytest: any of: eminus/*, eminus/**/*, tests/*
  pages: any of: docs/*, docs/**/*, examples/**/*
