Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

lint:
  stage: test
  script:
  - pip install -e .
  - pip install flake8 flake8-docstrings flake8-import-order
  - flake8

pytest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short

pytest:minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:3.6-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.4.0

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.7'
      - '3.8'
      - '3.9'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip --no-install-recommends -y

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python --no-progress -y
  ...

pages:
  stage: deploy
  script:
  - pip install -e .
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  - find examples -name '*.html' -exec mv {} public/_static \;
  ...

docker: No need to change the pyscf version if we build without deps
  Dockerfile
Due: none

xc: Add svwn5 as an additional alias
  eminus/xc/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

scf: Add line break
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

operators: Use specific dtype in allocations
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Minor performance optimizations
  eminus/dft.py
  eminus/operators.py
  eminus/tools.py
  eminus/utils.py
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_vwn.py
  eminus/xc/lda_x.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Remove redundant parantheses
  eminus/domains.py
  eminus/localizer.py
  eminus/scf.py
  eminus/xc/lda_c_chachiyo.py
  tests/test_operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

energies: Add documentation to sphinx, too
  eminus/energies.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Fix dtypes from previous derp
  eminus/tools.py
  eminus/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Fix init docstring
  eminus/__init__.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Implement torch operators and add a config class
  CHANGELOG.md
  docs/modules.rst
  eminus/README.md
  eminus/__init__.py
  eminus/atoms.py
  eminus/config.py
  eminus/extras/README.md
  eminus/extras/__init__.py
  eminus/extras/libxc.py
  eminus/extras/torch.py
  eminus/logger.py
  eminus/operators.py
  eminus/scf.py
  eminus/version.py
  pytest.ini
  setup.py
  tests/extras/test_libxc.py
  tests/extras/test_torch.py
  tests/test_config.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

tests: Remove unnecessary imports
  tests/examples/test_scripts.py
  tests/extras/test_fods.py
  tests/extras/test_libxc.py
  tests/test_domains.py
  tests/test_tools.py
  tests/test_utils.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/libxc: Simplify exception catch
  eminus/extras/libxc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Fix config threads test
  tests/test_config.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docker: Add Torch to the installation, remove env variable
  Dockerfile
Due: none

extras/torch: Add an installation link.
  eminus/extras/torch.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

examples: Add config class to examples
  examples/06_advanced_functionalities/06_advanced_functionalities.py
Due: lint

tests: Remove faulty assert
  tests/extras/test_torch.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update pytest filters
  pytest.ini
Due: none

docker: Readd env variable and move torch installation
  Dockerfile
Due: none

logger: Add the default logging level to logger instances
  eminus/atoms.py
  eminus/logger.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add tests for logger
  tests/test_logger.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docker: Add no cache to torch installation
  Dockerfile
Due: none

debug
  .gitlab-ci.yml
  tests/test_logger.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Revert "debug"
  .gitlab-ci.yml
  tests/test_logger.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests/logger: Attempt to fix the pipeline
  tests/test_logger.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests/logger: New attempt
  eminus/logger.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests/logger: New attempt
  eminus/logger.py
  tests/test_logger.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docker: Update to python 3.11
  Dockerfile
Due: none

config: Improve thread setting for torch
  eminus/config.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add dev nix support
  .gitignore
  CHANGELOG.md
  flake.nix
Due: none

nix: Remove lock file from gitignore
  .gitignore
Due: none

tests: Fix config test
  tests/test_config.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add an id test to logger
  tests/test_logger.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add potential tests
  tests/test_potentials.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add missing docstrings
  .flake8
  tests/examples/test_scripts.py
  tests/extras/test_torch.py
  tests/test_operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Remove bare returns and useless verbose
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
  tests/examples/test_notebooks.py
  tests/examples/test_scripts.py
  tests/extras/test_viewer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

atoms: Fix index matrices ordering
  CHANGELOG.md
  eminus/atoms.py
  tests/test_potentials.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

atoms: Fix double initialization of atoms states in RSCF or USCF
  eminus/atoms.py
  tests/extras/test_fods.py
  tests/test_potentials.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Path conditions:
  lint: any of: *.py, **/*.py
  pytest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pytest:minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*
