Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest-newest, pytest-oldest, pages

flake8:
  stage: test
  script:
  - pip install flake8 flake8-docstrings flake8-import-order
  - flake8

pytest-newest:
  stage: test
  script:
  - pip install pytest
  - pytest tests/dft_calculations --tb=short

pytest-oldest:
  stage: test
  script:
  - pip install pytest
  - pytest tests/dft_calculations --tb=short
  image: python:3.6-slim

pages:
  stage: deploy
  script:
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  - find examples -name '*.html' -exec mv {} public/_static \;
  - apt-get install -y minify
  ...

version: Release v2.1.0
  CHANGELOG.md
  eminus/version.py
Due: pytest-newest, pytest-oldest

filehandler: Fix pdb string creater and add pdb writer
  eminus/__init__.py
  eminus/addons/viewer.py
  eminus/filehandler.py
Due: pytest-newest, pytest-oldest

docs: Add year automatically
  docs/conf.py
Due: pages

Rename filehandler to io
  CHANGELOG.md
  docs/modules.rst
  eminus/README.md
  eminus/__init__.py
  eminus/addons/viewer.py
  eminus/atoms.py
  eminus/io.py
  eminus/orbitals.py
  eminus/scf.py
Due: pytest-newest, pytest-oldest, pages

Rework the addon inclusion
  CHANGELOG.md
  docs/installation.rst
  docs/modules.rst
  eminus/addons/__init__.py
  eminus/extras/README.md
  eminus/extras/__init__.py
  eminus/extras/fods.py
  eminus/extras/libxc.py
  eminus/extras/viewer.py
  eminus/orbitals.py
  eminus/version.py
  eminus/xc.py
  examples/07_fod_extra/07_fod_extra.py
  examples/07_fod_extra/CH4.xyz
  examples/07_fod_extra/README.rst
  examples/08_visualizer_extra/08_visualizer_extra.ipynb
  examples/08_visualizer_extra/CH4.xyz
  examples/08_visualizer_extra/CH4_density.cube
  examples/08_visualizer_extra/CH4_fods.xyz
  examples/08_visualizer_extra/README.rst
  examples/10_domain_generation/10_domain_generation.ipynb
  examples/README.md
  setup.py
  tests/examples/test_examples.py
Due: pytest-newest, pytest-oldest, pages

Fix import order
  examples/07_fod_extra/07_fod_extra.py
  examples/10_domain_generation/10_domain_generation.ipynb
Due: none

io: Nicer xyz formatting
  eminus/io.py
Due: pytest-newest, pytest-oldest

Remove conj() for real arrays
  eminus/atoms.py
  eminus/energies.py
Due: pytest-newest, pytest-oldest

Minor misc changes
  eminus/atoms.py
  eminus/energies.py
  eminus/gth.py
  eminus/xc.py
Due: pytest-newest, pytest-oldest

ci: Add windows test case
  .gitlab-ci.yml
Due: none

ci: Add macos test case
  .gitlab-ci.yml
Due: none

ci: libgomp1 is no longer needed
  .gitlab-ci.yml
Due: none

ci: Add all python versions tests, add ubuntu test, and refactor
  .gitlab-ci.yml
Due: none

setup: Update classifiers
  setup.py
Due: none

version: Add platform infos
  eminus/version.py
Due: pytest-newest, pytest-oldest

io: Better formatting and slightly increase precision in writers
  eminus/io.py
  examples/05_input_output/CH4.cube
  examples/08_visualizer_extra/CH4_density.cube
  examples/08_visualizer_extra/CH4_fods.xyz
Due: pytest-newest, pytest-oldest

Update changelog
  CHANGELOG.md
Due: none

ci: Only run pedantic tests for tags
  .gitlab-ci.yml
Due: none

setup: Update pylibxc version
  setup.py
Due: none

setup: Add python 3.11 identifier
  setup.py
Due: none

ci: Fix pages pipeline
  .gitlab-ci.yml
Due: none

Rework Atoms object initialization
  eminus/atoms.py
  eminus/scf.py
  examples/03_atoms_objects/03_atoms_objects.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_extra/07_fod_extra.py
  examples/08_visualizer_extra/08_visualizer_extra.ipynb
  examples/08_visualizer_extra/CH4_density.cube
  examples/08_visualizer_extra/CH4_fods.xyz
  examples/09_sic_calculations/09_sic_calculations.py
  examples/10_domain_generation/10_domain_generation.ipynb
  tests/operators/test_operators.py
Due: pytest-newest, pytest-oldest

xc: Allow mixing libxc and internal functionals
  eminus/xc.py
Due: pytest-newest, pytest-oldest

extras/libxc: Add the pyscf libxc interface (fixes #12)
  eminus/extras/libxc.py
  setup.py
Due: pytest-newest, pytest-oldest

version: Add pyscf, move pylibxc to dev
  eminus/version.py
Due: pytest-newest, pytest-oldest

scf: Print version infos before scf in debugging mode
  eminus/scf.py
Due: pytest-newest, pytest-oldest

Less spamming if no exchange for correlation was set
  eminus/scf.py
  eminus/xc.py
Due: pytest-newest, pytest-oldest

Remove globals in version, also globals should be uppercase (except units)
  eminus/data.py
  eminus/extras/viewer.py
  eminus/io.py
  eminus/orbitals.py
  eminus/units.py
  eminus/version.py
  eminus/xc.py
Due: pytest-newest, pytest-oldest

addons/fods: Fix renaming from previous commit
  eminus/extras/fods.py
Due: pytest-newest, pytest-oldest

ci: Add python 3.11 to tests
  .gitlab-ci.yml
Due: none

ci: Set pedantic tests to manual
  .gitlab-ci.yml
Due: none

version: Release v2.1.1
  CHANGELOG.md
  eminus/version.py
Due: pytest-newest, pytest-oldest

scf: Fix warning for libxc functionals
  eminus/scf.py
Due: pytest-newest, pytest-oldest

ci: Update base image to python 3.11
  .gitlab-ci.yml
Due: none

Fix flake8 configuration, add reasoning to ignores
  .flake8
Due: none

Fix returns statements in docstrings
  .flake8
  eminus/io.py
  eminus/utils.py
Due: pytest-newest, pytest-oldest

setup: Add changelog to pypi description
  setup.py
Due: none

xc: Add an optional density threshold
  eminus/xc.py
Due: pytest-newest, pytest-oldest

data: Add covalent radii and cpk colors
  eminus/data.py
Due: pytest-newest, pytest-oldest

data: Save cpk colors as hex instead of rgb
  eminus/data.py
Due: pytest-newest, pytest-oldest

Path conditions:
  flake8: any of: ./*.py, ./**/*.py
  pytest-newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pytest-oldest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*
