Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, pages

flake8:
  stage: test
  script:
  - pip install flake8
  - flake8

pytest:
  stage: test
  script:
  - pip install pytest
  - pytest --tb=short tests/ --ignore=tests/examples

pages:
  stage: deploy
  script:
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - find public/ \( -name '*.css' -o -name '*.html' -o -name '*.js' -o -name '*.svg' \) -exec gzip -vrk9 {} \;
  artifacts:
    paths:
    - public

potentials: Optimize Ge potential as well, simplify diagprod
  eminus/gth.py
  eminus/potentials.py
  eminus/utils.py
Due: flake8, pytest

Numerous small improvements, spell checks and renamings
  eminus/addons/fods.py
  eminus/addons/libxc.py
  eminus/addons/orbitals.py
  eminus/addons/viewer.py
  eminus/energies.py
  eminus/exc.py
  eminus/filehandler.py
  eminus/localizer.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  eminus/utils.py
  examples/03_atoms_objects/03_atoms_objects.py
  examples/04_dft_calculations/04_dft_calculations.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_addon/07_fod_addon.py
  examples/09_sic_calculations/09_sic_calculations.py
Due: flake8, pytest, pages

Move orbitals from addons down below
  docs/modules.rst
  eminus/README.md
  eminus/addons/README.md
  eminus/addons/__init__.py
  eminus/orbitals.py
  examples/07_fod_addon/07_fod_addon.py
  examples/09_sic_calculations/09_sic_calculations.py
  examples/10_domain_generation/10_domain_generation.py
Due: flake8, pytest, pages

scf: Use eigh for eigenstates and remove eps from Gaussian fuess
  eminus/scf.py
Due: flake8, pytest

scf: Add equations from theory and optimize get_grad a bit
  eminus/energies.py
  eminus/scf.py
Due: flake8, pytest

potentials: Add frequency to harmonic
  eminus/potentials.py
  eminus/scf.py
Due: flake8, pytest

tools: Use python abs for single values
  eminus/tools.py
Due: flake8, pytest

domains: More pythonic loops
  eminus/domains.py
Due: flake8, pytest

filehandler: Add a warning to load/save atoms
  eminus/filehandler.py
Due: flake8, pytest

atoms: Use list comprehension for next_fast_len
  eminus/atoms.py
Due: flake8, pytest

docs: Capitalize numpy and scipy
  docs/installation.rst
Due: pages

Bug Tracker, sounds better than Tracker
  setup.py
Due: none

Better type annotations in docstrings
  eminus/addons/fods.py
  eminus/addons/libxc.py
  eminus/addons/viewer.py
  eminus/atoms.py
  eminus/domains.py
  eminus/energies.py
  eminus/exc.py
  eminus/filehandler.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/orbitals.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  eminus/units.py
  eminus/utils.py
Due: flake8, pytest

Fix whitespaces from previous commit
  eminus/operators.py
Due: flake8, pytest

addons/viewer: Late import dependencies
  eminus/addons/viewer.py
Due: flake8, pytest

tests: Delete removed file notice
  tests/spin_paired/test_spin_paired.py
Due: none

Use logging for printing
  docs/modules.rst
  eminus/README.md
  eminus/addons/libxc.py
  eminus/atoms.py
  eminus/filehandler.py
  eminus/gth.py
  eminus/localizer.py
  eminus/logger.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  eminus/utils.py
Due: flake8, pytest, pages

Import standard modules as a whole
  eminus/addons/fods.py
  eminus/atoms.py
  eminus/filehandler.py
  eminus/gth.py
  eminus/operators.py
  eminus/scf.py
  eminus/version.py
  examples/10_domain_generation/10_domain_generation.py
  tests/examples/test_examples.py
  tests/spin_paired/test_spin_paired.py
Due: flake8, pytest, pages

logger: Set global logging level to warning
  eminus/logger.py
Due: flake8, pytest

logger: Allow setting the global log level with log.verbose
  eminus/logger.py
Due: flake8, pytest

Fixup for previous commit
  eminus/__init__.py
  eminus/logger.py
Due: flake8, pytest

Adapt example verbosities
  examples/04_dft_calculations/04_dft_calculations.py
  examples/05_input_output/05_input_output.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
Due: pages

Fixup setting global log level
  eminus/logger.py
Due: flake8, pytest

Move read_gth to filehandlers
  eminus/atoms.py
  eminus/filehandler.py
  eminus/gth.py
Due: flake8, pytest

Revert "addons/viewer: Late import dependencies"
  eminus/addons/viewer.py
Due: flake8, pytest

docs: Dont try to add pycache to downloads
  docs/conf.py
Due: pages

Make SCF a class and refaktor the code
  docs/modules.rst
  eminus/README.md
  eminus/__init__.py
  eminus/addons/libxc.py
  eminus/atoms.py
  eminus/dft.py
  eminus/energies.py
  eminus/filehandler.py
  eminus/gth.py
  eminus/logger.py
  eminus/minimizer.py
  eminus/operators.py
  eminus/orbitals.py
  eminus/scf.py
  eminus/tools.py
  eminus/utils.py
  eminus/xc.py
  tests/spin_paired/test_spin_paired.py
Due: flake8, pytest, pages

Calculate xc density and potential together, again
  eminus/addons/libxc.py
  eminus/dft.py
  eminus/energies.py
  eminus/minimizer.py
  eminus/xc.py
Due: flake8, pytest

Fix examples
  eminus/filehandler.py
  eminus/orbitals.py
  eminus/tools.py
  examples/02_minimal_example/02_minimal_example.py
  examples/03_atoms_objects/03_atoms_objects.py
  examples/04_dft_calculations/04_dft_calculations.py
  examples/05_input_output/05_input_output.py
  examples/05_input_output/CH4.cube
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_addon/07_fod_addon.py
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  examples/09_sic_calculations/09_sic_calculations.py
  examples/10_domain_generation/10_domain_generation.ipynb
  examples/10_domain_generation/10_domain_generation.py
  examples/10_domain_generation/README.rst
Due: flake8, pytest, pages

dft: Orthogonalize when calculating eigenvalues/-functions
  eminus/dft.py
  eminus/orbitals.py
  eminus/scf.py
  eminus/tools.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_addon/07_fod_addon.py
Due: flake8, pytest, pages

minimizer: Add a pure conjugate gradient method
  eminus/minimizer.py
  eminus/scf.py
Due: flake8, pytest

scf: Raise the default number of minimization steps
  eminus/scf.py
Due: flake8, pytest

minimzer: Only calculate tests when needed
  eminus/minimizer.py
Due: flake8, pytest

tests: Remove verbosity
  tests/spin_paired/test_spin_paired.py
Due: none

examples: Remove one cell
  examples/10_domain_generation/10_domain_generation.ipynb
Due: pages

docs: Add a link to the pip pypi page
  docs/installation.rst
Due: pages

pip 22.1 has been released
  .gitlab-ci.yml
Due: none

readme: Shorten installation instruction
  README.md
Due: none

Change badge colors
  README.md
  docs/introduction.rst
Due: pages

ci: Fix pip config
  .gitlab-ci.yml
Due: none

Path conditions:
  flake8: any of: eminus/*, eminus/**/*, examples/*, tests/*
  pytest: any of: eminus/*, eminus/**/*, tests/*
  pages: any of: docs/*, docs/**/*, examples/**/*, eminus/version.py
