Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, pages

pytest:
  stage: test
  script:
  - pip install pytest
  - pytest tests/
  artifacts:
    expire_in: 1 week

pages:
  stage: deploy
  script:
  - pip install sphinx sphinx-rtd-theme
  - sphinx-build -b html ./docs ./public
  artifacts:
    paths:
    - public
    expire_in: 1 week

atoms: Check for more types
  plainedft/atoms.py
Due: pytest

scf: Sort eigenvalues
  plainedft/scf.py
Due: pytest

tools: Add ionization potential calculator
  plainedft/tools.py
Due: pytest

scf: Add an extra check to minimizations
  plainedft/scf.py
Due: pytest

tests: Exchange H -> He
  tests/spin_paired/H.xyz
  tests/spin_paired/He.xyz
  tests/spin_paired/ref_spin_paired.jl
  tests/spin_paired/test_spin_paired.py
Due: none

license: Switch from mit -> apache2.0
  LICENSE
  README.md
  setup.py
Due: none

tests/spin_paired: Add a readme, use cccbdb geometries
  tests/spin_paired/CH4.xyz
  tests/spin_paired/H2.xyz
  tests/spin_paired/LiH.xyz
  tests/spin_paired/README.md
  tests/spin_paired/test_spin_paired.py
Due: none

README: Line break
  README.md
Due: none

Add support for cuboids as unit cells
  eminus/atoms.py
  eminus/atoms_io.py
Due: none

operators: Zero out for L operator
  eminus/operators.py
Due: none

exc: Use third consistently
  eminus/exc.py
Due: none

energies: Simplify Eewald by factor 2
  eminus/energies.py
Due: none

operators: Simplify T
  eminus/operators.py
  eminus/workflow.py
Due: none

scf: Fix Gaussian guess
  eminus/scf.py
Due: none

Add workflow functions
  docs/modules.rst
  eminus/addons/README.md
  eminus/addons/__init__.py
  eminus/addons/workflows.py
  eminus/workflow.py
Due: pages

version: Release 1.0.0
  eminus/version.py
Due: none

ci: Trigger pages for version changes
  .gitlab-ci.yml
Due: none

Add logo
  README.md
  docs/logo/eminus.svg
  docs/logo/eminus_favicon.png
  docs/logo/eminus_logo.png
  docs/logo/eminus_small.svg
Due: pages

readme: Correct image path
  README.md
Due: none

docs: Add logos to website
  docs/conf.py
Due: pages

docs: Remove version for now
  docs/conf.py
Due: pages

readme: Add zenodo badge
  README.md
Due: none

Add gth files to package
  eminus/pade_gth/__init__.py
  setup.py
Due: none

Update installation instructions
  README.md
  docs/installation.rst
  eminus/addons/fods.py
  eminus/addons/viewer.py
Due: pages

gitignore: Add dist folder
  .gitignore
Due: none

version: Release v1.0.1
  CHANGELOG.md
  eminus/version.py
Due: none

docs/logo: Add readme
  docs/logo/README.md
Due: pages

docs: Change theme rtd -> furo
  .gitlab-ci.yml
  docs/conf.py
Due: pages

docs/logo: Add desatureated dark logos
  docs/logo/README.md
  docs/logo/eminus_dark.svg
  docs/logo/eminus_logo_dark.png
  docs/logo/eminus_small_dark.svg
Due: pages

docs: Update theme
  docs/README.md
  docs/conf.py
Due: pages

addons/init: Correct installation hint
  eminus/addons/__init__.py
Due: none

init: Use He as minimal example
  eminus/__init__.py
Due: none

docs: Set tocdepth to 1
  docs/index.rst
Due: pages

docs/logo: Add color palettes to readme
  docs/logo/README.md
Due: pages

Change links to nextdft
  README.md
  docs/installation.rst
  setup.py
Due: pages

docs: Add intro and some infos
  docs/_images/eminus_features.svg
  docs/further.rst
  docs/index.rst
  docs/installation.rst
  docs/introduction.rst
Due: pages

ci: Update to python 3.10
  .gitlab-ci.yml
Due: none

Add notebook to addon installation and version info
  eminus/version.py
  setup.py
Due: none

ci: Use apt-get over apt to remove warnings
  .gitlab-ci.yml
Due: none

Path conditions:
  pytest: any of: plainedft/*, plainedft/**/*
  pages: any of: docs/*, docs/**/*
