Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

.gitlab-ci.yml:

image: python:3.10-slim

stages:
  - test
  - test-pedantic
  - deploy

.pytest:
  stage: test
  script:
    - python3 -m pip install -e .
    - python3 -m pip install pytest
    - python3 -m pytest tests/dft_calculations --tb=short
  only:
    changes:
      - eminus/*.py
      - eminus/**/*.py
      - tests/*.py
      - tests/**/*.py

.pytest-pedantic:
  extends: .pytest
  stage: test-pedantic
  only:
    refs:
      - tags

########## Lint python files ##########
lint:
  stage: test
  script:
    - pip install -e .
    - pip install flake8 flake8-docstrings flake8-import-order
    - flake8
  only:
    changes:
      - "*.py"
      - "**/*.py"

########## Test code functionality for the current and minimal supported versions ##########
pytest:
    extends: .pytest

pytest:minimal:
  extends: .pytest
  image: python:3.6-slim
  before_script:
    - pip install numpy==1.17.0 scipy==1.4.0

########## Test code functionality for all python versions between current and minimal ##########
python:
  extends: .pytest-pedantic
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
      - PYTHON_VERSIONS: ['3.7', '3.8', '3.9']

########## Test code functionality under linux, macos, and windows ##########
platform:linux:
  extends: .pytest-pedantic
  image: ubuntu:latest
  before_script:
    - apt-get update -y
    - apt-get install python3 python3-pip --no-install-recommends -y

platform:macos:
  extends: .pytest-pedantic
  image: sickcodes/docker-osx:latest
  before_script:
    - python3 -m ensurepip

platform:windows:
  extends: .pytest-pedantic
  tags:
    - windows
  before_script:
    # https://gitlab.com/gitlab-org/ci-cd/shared-runners/images/gcp/windows-containers/-/issues/13
    - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
    - choco install python --no-progress -y
    - refreshenv
    - Set-Alias -Name python3 -Value python

########## Build documentation ##########
pages:
  stage: deploy
  script:
    - pip install -e .
    # Build sphinx documentation
    - pip install sphinx furo
    - sphinx-build -b html ./docs ./public
    # Convert notebooks to html
    - pip install notebook
    - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
    - find examples -name '*.html' -exec mv {} public/_static \;
    # Minify all text files
    - apt-get install -y minify
    - find public \( -name '*.css' -o -name '*.js' -o -name '*.svg' \) -exec minify -vo {} {} \;
    - find public -name '*.html' -exec minify -vo {} {} --html-keep-document-tags --html-keep-end-tags \;
    # Compress all text files
    - find public \( -name '*.css' -o -name '*.html' -o -name '*.js' -o -name '*.svg' \) -exec gzip -vrk9 {} \;
  artifacts:
    paths:
      - public
  only:
    changes:
      - docs/*
      - docs/**/*
    refs:
      - main

tests: debug
  pytest.ini
  tests/test_scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Additional debug
  tests/test_scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

scf: debug
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Revert debug
  eminus/scf.py
  pytest.ini
  tests/test_scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

operators: Do not use overwrite_x in J
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Revert "operators: Do not use overwrite_x in J"
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

operators: Copy W for safety
  eminus/operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

atoms: Fix separated center options
  eminus/atoms.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

scf: Copy atoms in RSCF and USCF first
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Small fixes
  tests/test_orbitals.py
  tests/test_potentials.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add atoms tests
  tests/test_atoms.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

atoms: Fix an edge case in state setting
  eminus/atoms.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update changelog
  CHANGELOG.md
Due: none

Nit
  eminus/extras/fods_new.py
  eminus/utils.py
  eminus/xc/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

setup: Remove keyword section
  setup.py
Due: lint

extras: Remove accidentally commited code
  eminus/extras/fods_new.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Rework the FODs guess method
  CHANGELOG.md
  Dockerfile
  eminus/extras/__init__.py
  eminus/extras/fods.py
  eminus/tools.py
  eminus/version.py
  flake.nix
  setup.py
  tests/extras/test_fods.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

examples: Fix example 13
  examples/13_wannier_localization/13_wannier_localization.ipynb
Due: none

tests: Remove extras marker but skip if necessary imports are not found
  pytest.ini
  tests/examples/test_notebooks.py
  tests/examples/test_scripts.py
  tests/extras/test_fods.py
  tests/extras/test_libxc.py
  tests/extras/test_torch.py
  tests/extras/test_viewer.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

ci: Run all tests that are possible and not slow
  .gitlab-ci.yml
Due: none

Misc fixes to the gitlab docs
  eminus/extras/fods.py
  eminus/extras/torch.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

config: Set the global logging level to info
  eminus/config.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

atoms: Add the option to set charges with dicts
  eminus/atoms.py
  tests/test_atoms.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update readme file descriptions
  eminus/README.md
  tests/README.md
Due: none

docker: Remove ipywidgets pin since nglview got updated
  Dockerfile
  pytest.ini
Due: none

pytest: Remove filter
  pytest.ini
Due: none

Some code simplifications
  eminus/io/gth.py
  eminus/io/json.py
  eminus/xc/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

version: Release v2.3.0
  CHANGELOG.md
Due: none

FIXUP: version: Release v2.3.0
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Make sure no in-place operations take place in operators
  tests/extras/test_torch.py
  tests/test_operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Small style fixes
  eminus/xc/utils.py
  tests/test_data.py
  tests/test_gth.py
  tests/test_tools.py
  tests/test_utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Remove non-writable test from torch
  tests/extras/test_torch.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Merge configuration files in tox.ini
  .coveragerc
  pytest.ini
  tox.ini
Due: none

docs: Add coverage infos in the developer section
  docs/further.rst
Due: pages

setup: Update minimum required versions
  .gitignore
  setup.py
Due: lint

Update gitignore
  .gitignore
Due: none

io: Only display non empty file comments
  eminus/io/cube.py
  eminus/io/xyz.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/torch: Fix Torch operator in-place operations
  eminus/extras/torch.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows
