Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

lint:
  stage: test
  script:
  - pip install -e .
  - pip install flake8 flake8-docstrings flake8-import-order
  - flake8

pytest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short

pytest:minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:3.6-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.4.0

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.7'
      - '3.8'
      - '3.9'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip --no-install-recommends -y

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python --no-progress -y
  ...

pages:
  stage: deploy
  script:
  - pip install -e .
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  - find examples -name '*.html' -exec mv {} public/_static \;
  ...

Update Changelog
  CHANGELOG.md
Due: none

tests: Make localizer test a bit looser
  tests/test_localizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Update some examples
  examples/04_dft_calculations/04_dft_calculations.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Add a note about the spin-scaling relationship
  eminus/xc/gga_x_chachiyo.py
  eminus/xc/gga_x_pbe.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Remove useless brackets
  eminus/xc/gga_x_chachiyo.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/libxc: Fix pyscf libxc evaluation (also fixes CI)
  eminus/extras/libxc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/libxc: Add some helpful comments
  eminus/extras/libxc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Small code style updates
  eminus/extras/fods.py
  eminus/extras/viewer.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Add new fields to nomenclature page
  docs/nomenclature.rst
Due: pages

tools: Add Thomas-Fermi and von Weizäcker KEDs (fix #28)
  CHANGELOG.md
  eminus/tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tools: Fix tautf and add KED tests
  eminus/tools.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/torch: Add an extra copy for safety
  eminus/extras/torch.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/torch: Fix some wird operator bugs
  eminus/extras/torch.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Update overview image
  docs/_images/features.svg
Due: pages

version: Release v2.4.0
  CHANGELOG.md
  eminus/version.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Modularize feature overview page, goodbye svg (fix #25)
  docs/_images/README.md
  docs/_images/features.svg
  docs/introduction.rst
Due: pages

docs: Simplify CSS
  docs/introduction.rst
Due: pages

ci: Try to fix the unknown coverage status badge
  .gitlab-ci.yml
Due: none

Implement positive-definite KED (fix #29)
  CHANGELOG.md
  eminus/dft.py
  eminus/energies.py
  eminus/minimizer.py
  eminus/tools.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tools: Add the ELF
  CHANGELOG.md
  eminus/tools.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Fix import order
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

docs: Add nix instructions
  docs/installation.rst
Due: pages

docs: Move css in rst to custom file
  docs/_static/css/custom.css
  docs/conf.py
  docs/introduction.rst
Due: lint, pages

minimizer: Remove one loop over spin when updating wave function
  eminus/minimizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

minimizer: Add auto minimizer, set as default
  CHANGELOG.md
  eminus/__init__.py
  eminus/minimizer.py
  eminus/scf.py
  tests/test_energies.py
  tests/test_localizer.py
  tests/test_minimizer.py
  tests/test_orbitals.py
  tests/test_potentials.py
  tests/test_scf.py
  tests/test_tools.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

atoms: Set default Nspin to None
  CHANGELOG.md
  eminus/atoms.py
  tests/test_scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

minimizer: Do not end auto minimization with an sd step
  eminus/minimizer.py
  tests/test_potentials.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Fix test
  tests/test_potentials.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

dft: Evaluate gradient correction only in G-space
  eminus/dft.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

dft: Fixup gga performance fix
  eminus/dft.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Allow setting custom psp paths in atoms
  eminus/atoms.py
  eminus/io/gth.py
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Unify psp and functional usage by adding xc_types
  eminus/dft.py
  eminus/energies.py
  eminus/minimizer.py
  eminus/scf.py
  eminus/xc/__init__.py
  eminus/xc/utils.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add missing periods to log messages
  eminus/gth.py
  eminus/io/gth.py
  eminus/potentials.py
  eminus/scf.py
  eminus/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

xc: Support xc parsing using pylibxc
  eminus/xc/utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add mgga xc parsing tests, split xc and xc_utils tests
  tests/test_xc.py
  tests/test_xc_utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add meta-GGA implementation
  docs/nomenclature.rst
  eminus/dft.py
  eminus/energies.py
  eminus/extras/libxc.py
  eminus/minimizer.py
  eminus/scf.py
  eminus/tools.py
  eminus/utils.py
  eminus/xc/utils.py
  tests/dft_calculations/README.md
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_scan.py
  tests/dft_calculations/test_unpolarized_pbe.py
  tests/dft_calculations/test_unpolarized_vwn.py
  tests/extras/test_libxc.py
  tests/test_dft.py
  tests/test_tools.py
  tests/test_utils.py
  tests/test_xc.py
  tests/test_xc_utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

Update changelog
  CHANGELOG.md
Due: none

Pass exc_only to libxc functions
  eminus/extras/libxc.py
  eminus/xc/utils.py
  tests/extras/test_libxc.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Path conditions:
  lint: any of: *.py, **/*.py
  pytest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pytest:minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*
