Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check .

coverage:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install coverage pyscf pytest pytest-cov
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage xml
  - coverage html
  ...

minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.6.0

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.8'
      - '3.9'
      - '3.10'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip -y --no-install-recommends

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip
  - python3 -m pip config set global.no-warn-script-location true

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python -y --no-progress
  ...

installation:
  stage: test-pedantic
  script:
  - pip install build twine
  - python -m build
  - twine check dist/*
  - rm -rf eminus/psp/
  - cd dist/
  - tar -xf eminus-*.tar.gz
  - pip install eminus-*/.
  - python -c "import eminus; eminus.SCF(eminus.Atoms('He', (0, 0, 0)), etol=10).run()"
  - pip uninstall eminus -y
  ...

pages:
  stage: deploy
  dependencies:
  - coverage
  script:
  - pip install -e .
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

ci: Filter warning for macos test
  .gitlab-ci.yml
Due: none

Replace inspect.getfile(inspect.currentframe()) by inspect.stack()[0][1]
  eminus/io/gth.py
  eminus/psp/pade/__init__.py
  eminus/psp/pbe/__init__.py
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_scan.py
  tests/dft_calculations/test_unpolarized_pbe.py
  tests/dft_calculations/test_unpolarized_vwn.py
  tests/examples/test_notebooks.py
  tests/examples/test_scripts.py
  tests/extras/test_dispersion.py
  tests/extras/test_fods.py
  tests/extras/test_libxc.py
  tests/extras/test_torch.py
  tests/extras/test_viewer.py
  tests/test_atoms.py
  tests/test_config.py
  tests/test_data.py
  tests/test_dft.py
  tests/test_domains.py
  tests/test_energies.py
  tests/test_gga.py
  tests/test_gth.py
  tests/test_io.py
  tests/test_localizer.py
  tests/test_logger.py
  tests/test_minimizer.py
  tests/test_operators.py
  tests/test_orbitals.py
  tests/test_potentials.py
  tests/test_scf.py
  tests/test_tools.py
  tests/test_units.py
  tests/test_utils.py
  tests/test_xc.py
  tests/test_xc_utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Add type hints to all globals
  docs/conf.py
  eminus/data.py
  eminus/logger.py
  eminus/minimizer.py
  eminus/potentials.py
  eminus/units.py
  eminus/version.py
  eminus/xc/utils.py
  setup.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

config: Add type hints of attriibutes to module
  CHANGELOG.md
  eminus/config.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

examples: Fix for mypy in sic example
  examples/09_sic_calculations/09_sic_calculations.py
Due: lint, coverage, pages

atoms: Add base definitions of operators
  CHANGELOG.md
  eminus/atoms.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

setup: Fix regex to fix installation
  setup.py
Due: lint, coverage

Revert "ci: Filter warning for macos test"
  .gitlab-ci.yml
Due: none

Add mypy
  .gitlab-ci.yml
  CHANGELOG.md
  docs/further.rst
  docs/license.rst
  flake.nix
  pyproject.toml
  setup.py
Due: lint, coverage, pages

Fix mypy errors
  docs/conf.py
  eminus/psp/pade/__init__.py
  eminus/psp/pbe/__init__.py
  examples/07_fod_extra/07_fod_extra.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Add type annotations to special methods
  eminus/atoms.py
  eminus/config.py
  eminus/energies.py
  eminus/logger.py
  eminus/scf.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Revert "Add type annotations to special methods"
  eminus/atoms.py
  eminus/config.py
  eminus/energies.py
  eminus/logger.py
  eminus/scf.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests/atoms: Add base operator to operator test
  tests/test_atoms.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Remove type hitns from eminus globals
  eminus/data.py
  eminus/logger.py
  eminus/minimizer.py
  eminus/potentials.py
  eminus/units.py
  eminus/version.py
  eminus/xc/utils.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Add strict typing to docs and setup
  CHANGELOG.md
  docs/conf.py
  setup.py
Due: lint, coverage, pages

Some more fixes of stricter mypy errors
  eminus/atoms.py
  eminus/config.py
  eminus/energies.py
  eminus/extras/viewer.py
  eminus/io/cube.py
  eminus/minimizer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

localizer: Fix fo generation if Nelec_up != Nelec_down
  eminus/localizer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Some nitpicks
  Dockerfile
  eminus/config.py
  eminus/extras/dispersion.py
  eminus/extras/viewer.py
  eminus/logger.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Some more small nitpicks
  docs/examples_builder.py
  eminus/utils.py
  eminus/xc/gga_x_chachiyo.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Rename some variables to shaddow less builtins
  eminus/domains.py
  eminus/extras/fods.py
  eminus/extras/viewer.py
  eminus/io/cube.py
  eminus/io/json.py
  eminus/io/pdb.py
  eminus/io/xyz.py
  eminus/logger.py
  eminus/orbitals.py
  eminus/tools.py
  tests/extras/test_torch.py
  tests/test_io.py
  tests/test_operators.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

setup: Re-add keywords (same as the tags on gitlab)
  setup.py
Due: lint, coverage

atoms: Add an atoms property to atoms objects for total atom-ception
  eminus/atoms.py
  eminus/domains.py
  eminus/extras/fods.py
  eminus/extras/viewer.py
  eminus/io/cube.py
  eminus/io/pdb.py
  eminus/io/xyz.py
  eminus/tools.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

init: Add a demo function
  .gitlab-ci.yml
  eminus/__init__.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

ci: Build the documentation for the dev branch under different urls
  .gitlab-ci.yml
Due: none

examples: Add a custom functional example
  CHANGELOG.md
  examples/15_custom_functionals/15_custom_functionals.py
  examples/15_custom_functionals/README.rst
  examples/README.md
Due: lint, coverage, pages

nit
  CHANGELOG.md
  eminus/__init__.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

docs: Add support for images in examples
  docs/examples_builder.py
  examples/README.md
Due: lint, coverage, pages

examples: Add plot to example 15
  examples/15_custom_functionals/15_custom_functionals.py
  examples/15_custom_functionals/correlation_energy_error.png
  examples/eminus.mplstyle
  setup.py
  tests/examples/test_scripts.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

ci: Add matplotlib to minimal since some examples need it
  .gitlab-ci.yml
Due: none

examples: Updates to plot
  examples/15_custom_functionals/15_custom_functionals.py
  examples/15_custom_functionals/correlation_energy_error.png
  examples/eminus.mplstyle
Due: lint, coverage, pages

examples: Add an image to example 14
  docs/examples_builder.py
  examples/14_geometry_optimization/14_geometry_optimization.py
  examples/14_geometry_optimization/dissociation_energy_h2.png
Due: lint, coverage, pages

Update changelog
  CHANGELOG.md
Due: none

docs: Exclude pngs from downloads
  docs/examples_builder.py
Due: lint, coverage, pages

examples: Add a comment to example 15
  examples/15_custom_functionals/15_custom_functionals.py
Due: lint, coverage, pages

examples: Extend example 15 for the spin-polarized case
  examples/15_custom_functionals/15_custom_functionals.py
  examples/15_custom_functionals/README.rst
  examples/15_custom_functionals/correlation_energy_error.png
  examples/16_custom_functionals_spin/16_custom_functionals_spin.py
  examples/16_custom_functionals_spin/README.rst
  examples/16_custom_functionals_spin/correlation_energy_error_spin.png
  examples/README.md
Due: lint, coverage, pages

examples: Update functional plots
  examples/15_custom_functionals/15_custom_functionals.py
  examples/15_custom_functionals/correlation_energy_error.png
  examples/16_custom_functionals_spin/16_custom_functionals_spin.py
  examples/16_custom_functionals_spin/correlation_energy_error_spin.png
Due: lint, coverage, pages

config: Use pathlib
  eminus/config.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests: Skip if matplotlib is note installed
  .gitlab-ci.yml
  tests/examples/test_scripts.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

docs: Sort autodoc attributes groupwise
  docs/conf.py
Due: lint, coverage, pages

Path conditions:
  lint: any of: *.py, **/*.py
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
