Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, pages

.gitlab-ci.yml:

image: python:3.10-slim

stages:
    - test
    - deploy

before_script:
    - apt-get update -y
    # libgomp1 is not included in small Docker images, but needed for numpy
    - apt-get install -y libgomp1
    - pip install -e .

pytest:
  stage: test
  script:
  - pip install pytest
  - pytest --tb=short tests/
  artifacts:
    expire_in: 1 week
  only:
    changes:
      - eminus/*
      - eminus/**/*

pages:
  stage: deploy
  script:
    - pip install sphinx furo
    - sphinx-build -b html ./docs ./public
  artifacts:
    paths:
    - public
    expire_in: 1 week
  only:
    changes:
      - docs/*
      - docs/**/*
      - eminus/version.py

ci: use no-install-recommends
  .gitlab-ci.yml
Due: none

Silence pip version warnings
  .gitlab-ci.yml
Due: none

ci: Add flake8 to test stage
  .gitlab-ci.yml
Due: none

ci: Test build on version change
  .gitlab-ci.yml
Due: none

ci: Do not care about artifacts
  .gitlab-ci.yml
Due: none

ci: Add comments
  .gitlab-ci.yml
Due: none

ci: Run pytest on test changes too
  .gitlab-ci.yml
Due: none

exc: Rename dummy to mock
  eminus/exc.py
Due: pytest

docs/_images: Add readme
  docs/_images/README.md
Due: pages

gitignore: Remove pyscf
  .gitignore
Due: none

version: Split dependencies and addons
  eminus/version.py
Due: pytest, pages

docs: Add changelog to documentation
  CHANGELOG.md
  docs/changelog.rst
  docs/index.rst
Due: pages

tests: Remove julia file and add it to the readme
  tests/spin_paired/README.md
  tests/spin_paired/ref_spin_paired.jl
Due: none

version: Add a performance section
  eminus/version.py
Due: pytest, pages

ci: Compress text files in pages
  .gitlab-ci.yml
Due: none

docs: Add language and metadata
  docs/conf.py
  docs/index.rst
Due: pages

docs: Add a custom solution to generate an examples page
  docs/_templates/custom-examples.rst
  docs/conf.py
  docs/index.rst
Due: pages

Add first examples
  examples/00_installation_test/00_installation_test.py
  examples/00_installation_test/README.md
  examples/01_minimal_example/01_minimal_example.py
  examples/01_minimal_example/README.md
  examples/README.md
Due: none

docs: Rename function
  docs/conf.py
Due: pages

ci: Nah, remove build stage
  .gitlab-ci.yml
Due: none

docs: Simplify examples generation
  docs/conf.py
  examples/00_installation_test/README.md
  examples/01_minimal_example/README.md
  examples/README.md
Due: pages

docs: Create seperate pages for each example
  docs/_templates/custom-examples.rst
  docs/conf.py
Due: pages

Remove coulomb truncation option
  eminus/atoms.py
  eminus/energies.py
  eminus/scf.py
Due: pytest

pyflosic_dev -> pyflosic2
  eminus/addons/fods.py
  eminus/version.py
  setup.py
Due: pytest, pages

Small nitpicks
  docs/conf.py
  eminus/__init__.py
  eminus/version.py
  examples/00_installation_test/00_installation_test.py
  examples/01_minimal_example/README.md
  examples/README.md
Due: pytest, pages

atoms_io: Grid size is an integer
  eminus/atoms_io.py
Due: pytest

Add some more examples
  docs/conf.py
  examples/01_installation_test/01_installation_test.py
  examples/01_installation_test/README.rst
  examples/02_minimal_example/02_minimal_example.py
  examples/02_minimal_example/README.rst
  examples/03_Atoms_objects/03_Atoms_objects.py
  examples/03_Atoms_objects/README.rst
  examples/04_DFT_calculations/04_DFT_calculations.py
  examples/04_DFT_calculations/README.rst
  examples/05_input_output/05_input_output.py
  examples/05_input_output/CH4.cube
  examples/05_input_output/CH4.xyz
  examples/05_input_output/README.rst
  examples/README.md
Due: pages

atoms_io: Remove useless typecast
  eminus/atoms_io.py
Due: pytest

localizer: Return all orbital variances, not the sum
  eminus/localizer.py
Due: pytest

examples: Add eadvanced functionalities
  examples/03_Atoms_objects/README.rst
  examples/04_DFT_calculations/04_DFT_calculations.py
  examples/04_DFT_calculations/README.rst
  examples/05_input_output/05_input_output.py
  examples/05_input_output/CH4.cube
  examples/05_input_output/README.rst
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/06_advanced_functionalities/README.rst
Due: none

addons: Disable writing of cubes by default
  eminus/addons/workflows.py
Due: pytest

ci: Run flake8 everywhere
  .gitlab-ci.yml
Due: none

energies: Add proper docstring to esic
  eminus/energies.py
  eminus/scf.py
Due: pytest

addons/fods: Make localization method case insensitive
  eminus/addons/fods.py
Due: pytest

addons/workflows: Fix KSO generation (make them real-space)
  eminus/addons/workflows.py
Due: pytest

examples: Add last examples
  examples/07_fod_addon/07_fod_addon.py
  examples/07_fod_addon/CH4.xyz
  examples/07_fod_addon/README.rst
  examples/08_visualizer_addon/.ipynb_checkpoints/08_visualizer_addon-checkpoint.ipynb
  examples/08_visualizer_addon/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  examples/08_visualizer_addon/CH4.xyz
  examples/08_visualizer_addon/README.rst
  examples/09_sic_calculations/09_sic_calculations.py
  examples/09_sic_calculations/README.rst
Due: none

docs: Only include examples.py if it exists
  docs/conf.py
Due: pages

ci: Also trigger docs rebuild on example change
  .gitlab-ci.yml
Due: none

examples: Finishing touches
  docs/conf.py
  examples/02_minimal_example/02_minimal_example.py
  examples/03_atoms_objects/03_atoms_objects.py
  examples/03_atoms_objects/README.rst
  examples/04_dft_calculations/04_dft_calculations.py
  examples/04_dft_calculations/README.rst
  examples/05_input_output/05_input_output.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_addon/07_fod_addon.py
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  examples/09_sic_calculations/09_sic_calculations.py
  examples/README.md
Due: pages

tests: Add a test for the examples
  .gitlab-ci.yml
  tests/README.md
  tests/examples/README.md
  tests/examples/test_examples.py
Due: none
