Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Path conditions:
  lint: any of: *.py, **/*.py
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py

examples: Add a FOD optimization example
  CHANGELOG.md
  eminus/extras/viewer.py
  examples/16_fod_optimization/16_fod_optimization.py
  examples/16_fod_optimization/CH4.xyz
  examples/16_fod_optimization/README.rst
  examples/README.md
  tests/examples/test_scripts.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Replace numpy.linalg with scipy.linalg
  eminus/tools.py
  eminus/xc/gga_c_chachiyo.py
  eminus/xc/gga_c_pbe.py
  eminus/xc/gga_x_chachiyo.py
  eminus/xc/gga_x_pbe.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

atoms: Calculate s depending of R, instead of a
  eminus/atoms.py
  tests/test_atoms.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

scf: Print cell vectors instead of a
  eminus/scf.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

io: Support non-cubic unit cells
  CHANGELOG.md
  eminus/io/cube.py
  eminus/io/pdb.py
  eminus/units.py
  eminus/utils.py
  examples/05_input_output/05_input_output.py
  tests/test_io.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Add band path sampling functions
  docs/modules.rst
  eminus/README.md
  eminus/bandpath.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

examples: Fix mypy error
  examples/16_fod_optimization/16_fod_optimization.py
Due: lint, coverage, pages

bandpath: Improve performance and ensure the correct number of sampling points
  eminus/bandpath.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests: Add bandpath tests
  tests/test_bandpath.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

tests: Remove duplicated tests
  tests/test_atoms.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

ruff: Remove PERF203 from ignore list
  eminus/version.py
  pyproject.toml
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

bandpath: Remove unnecessary list conversion
  eminus/bandpath.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

docs: Ensure mypy with --strict
  docs/conf.py
Due: lint, coverage, pages

Update changelog
  CHANGELOG.md
Due: none

examples: Add a reduced density gradient example
  CHANGELOG.md
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
  examples/17_reduced_density_gradient/README.rst
  examples/17_reduced_density_gradient/density_finger.png
  examples/README.md
  tests/examples/test_scripts.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

nix: Fix flake and simplify the setting of cpu cores
  flake.nix
Due: none

nix: Fix matplotlib
  flake.nix
Due: none

nix: Use nixos 23.05 over unstable (jupyter 6 is broken...)
  flake.nix
Due: none

io: Add a trajectory reader and writer
  CHANGELOG.md
  eminus/__init__.py
  eminus/io/README.md
  eminus/io/__init__.py
  eminus/io/traj.py
  eminus/io/xyz.py
  tests/test_io.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

io/gth: Do not display a warning for X species
  eminus/io/gth.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

extras/viewer: Support trajectories
  CHANGELOG.md
  docs/introduction.rst
  eminus/extras/__init__.py
  eminus/extras/viewer.py
  tests/extras/CH4.traj
  tests/extras/test_view_file.ipynb
  tests/test_io.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

docs: Add io.traj to modules
  docs/modules.rst
Due: coverage, pages

tests: Improve coverage
  tests/test_occupations.py
  tests/test_units.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Replace numpy conversion dunder functions
  eminus/atoms.py
  eminus/bandpath.py
  eminus/io/cube.py
  eminus/io/traj.py
  eminus/io/xyz.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

data: Add lattice vectors
  eminus/data.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Rename bandpath to kpoints, add Monkhorst-Pack mesh
  docs/modules.rst
  eminus/README.md
  eminus/kpoints.py
  tests/test_kpoints.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

Add a cell wrapper function
  CHANGELOG.md
  docs/modules.rst
  eminus/README.md
  eminus/__init__.py
  eminus/cell.py
  tests/test_cell.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation, pages

extras/viewer: Fix mixing of different file types when viewing lists
  eminus/extras/viewer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

Indicate that Python 3.12 is supported
  .gitlab-ci.yml
  CHANGELOG.md
  setup.py
Due: lint, coverage

cell: typo
  eminus/cell.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

ci: Test py3.12-rc
  .gitlab-ci.yml
Due: none

gga: Optimize tau einsum
  eminus/gga.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation

nix: Format
  flake.nix
Due: none

viewer: Set depthWrite for cube viewer
  eminus/extras/viewer.py
Due: lint, coverage, minimal, python, platform:linux, platform:macos, platform:windows, installation
