Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, pages

flake8:
  stage: test
  script:
  - pip install flake8 flake8-docstrings flake8-import-order
  - flake8

pytest:
  stage: test
  script:
  - pip install pytest
  - pytest --tb=short tests/ --ignore=tests/examples

pages:
  stage: deploy
  script:
  - apt-get install -y minify
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - find public/ \( -name '*.css' -o -name '*.js' -o -name '*.svg' \) -exec minify -vo {} {} \;
  ...

ci: Minify documentation
  .gitlab-ci.yml
Due: none

setup: Add minimal numpy and scipy versions
  setup.py
Due: none

setup: Add minimal versions for all addon/dev packages with a small description
  docs/examples_builder.py
  eminus/version.py
  setup.py
Due: flake8, pytest, pages

setup: Beautify package descriptions
  eminus/xc.py
  setup.py
Due: flake8, pytest

Change wording: unit cell -> cell
  eminus/addons/viewer.py
  eminus/atoms.py
  eminus/filehandler.py
  eminus/tools.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
Due: flake8, pytest, pages

Small codestyle update
  eminus/filehandler.py
  eminus/logger.py
  eminus/minimizer.py
Due: flake8, pytest

energies: Fix sic energy calculation
  eminus/energies.py
Due: flake8, pytest

operators: plane-wave -> plane wave
  eminus/operators.py
Due: flake8, pytest

filehandler: use inspect over importlib
  eminus/filehandler.py
Due: flake8, pytest

readme: Fix badge link
  README.md
Due: none

Rename master to main
  .gitlab-ci.yml
  README.md
  docs/further.rst
  docs/introduction.rst
  eminus/atoms.py
Due: flake8, pytest, pages

utils: Make spin handling a decorator to "hide" one layer of complexity
  eminus/dft.py
  eminus/localizer.py
  eminus/logger.py
  eminus/operators.py
  eminus/utils.py
Due: flake8, pytest

utils: Optimize Ylm_real and make it more readable
  eminus/utils.py
Due: flake8, pytest

utils: Spin handle nit
  eminus/utils.py
  eminus/xc.py
Due: flake8, pytest

filehandler: Rewrite gth handler to use the cp2k format
  eminus/filehandler.py
Due: flake8, pytest

gth: Fix filehanlder and misc changes
  eminus/filehandler.py
  eminus/gth.py
Due: flake8, pytest

data: Add new atoms
  eminus/data.py
Due: flake8, pytest

flake8: Fix E126 and E127
  .flake8
  eminus/addons/fods.py
  eminus/dft.py
  eminus/energies.py
  eminus/gth.py
  eminus/minimizer.py
  eminus/potentials.py
  eminus/xc.py
Due: flake8, pytest

flake8: Fix E128
  .flake8
  docs/examples_builder.py
  eminus/energies.py
  eminus/gth.py
  eminus/localizer.py
  eminus/minimizer.py
  eminus/potentials.py
  eminus/xc.py
Due: flake8, pytest, pages

Remove some unnecessary allocations
  eminus/addons/fods.py
  eminus/atoms.py
  eminus/energies.py
  eminus/filehandler.py
  eminus/gth.py
  eminus/localizer.py
Due: flake8, pytest

Rename Ns to Nstate to avoid confusion with Nspin
  eminus/atoms.py
  eminus/dft.py
  eminus/energies.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/orbitals.py
  eminus/scf.py
  eminus/tools.py
  examples/03_atoms_objects/03_atoms_objects.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_addon/07_fod_addon.py
  tests/operators/test_operators.py
Due: flake8, pytest, pages

Fix docs and pade renaming
  docs/modules.rst
  setup.py
  tests/dft_calculations/README.md
Due: pages

Add temporary dev changelog
  CHANGELOG.md
Due: none

examples: Use '# #' over '##' as comment markers
  .flake8
  docs/examples_builder.py
  examples/01_installation_test/01_installation_test.py
  examples/02_minimal_example/02_minimal_example.py
  examples/03_atoms_objects/03_atoms_objects.py
  examples/04_dft_calculations/04_dft_calculations.py
  examples/05_input_output/05_input_output.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_addon/07_fod_addon.py
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  examples/09_sic_calculations/09_sic_calculations.py
  examples/10_domain_generation/10_domain_generation.ipynb
Due: pages

flake8: Make eminus a local name
  .flake8
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  tests/dft_calculations/test_polarized.py
  tests/dft_calculations/test_unpolarized.py
  tests/operators/test_operators.py
Due: pages

Replace bash with terminal or console
  README.md
  docs/README.md
  docs/further.rst
  docs/installation.rst
  eminus/pade/README.md
  examples/08_visualizer_addon/README.rst
  examples/10_domain_generation/README.rst
  tests/README.md
  tests/dft_calculations/README.md
Due: flake8, pytest, pages

Make some vars lowercase
  eminus/atoms.py
  eminus/tools.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
Due: flake8, pytest, pages

orbitals: Remove debug print statement
  eminus/orbitals.py
Due: flake8, pytest

setup: Add changelog link
  setup.py
Due: none

ci: Fix indentation
  .gitlab-ci.yml
Due: none

gth: Simplify eval_proj_G
  eminus/gth.py
Due: flake8, pytest

gth: Vectorize more by removing the explicit loop over all states
  eminus/energies.py
  eminus/gth.py
Due: flake8, pytest

energies: Rewrite ewald calculation
  eminus/energies.py
Due: flake8, pytest

energies: get_index_matrix -> get_index_vectors
  eminus/energies.py
Due: flake8, pytest

Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

ci: Add jobs for the newest and oldes python version
  .gitlab-ci.yml
Due: none

ci: Cleanup
  .gitlab-ci.yml
Due: none

Path conditions:
  flake8: any of: eminus/*, eminus/**/*, examples/*, tests/*
  pytest: any of: eminus/*, eminus/**/*, tests/*
  pages: any of: docs/*, docs/**/*, examples/**/*
