Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, pages

flake8:
  stage: test
  script:
  - pip install flake8
  - flake8

pytest:
  stage: test
  script:
  - pip install pytest
  - pytest --tb=short tests/ --ignore=tests/examples

pages:
  stage: deploy
  script:
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - find public/ \( -name '*.css' -o -name '*.html' -o -name '*.js' -o -name '*.svg' \) -exec gzip -vrk9 {} \;
  artifacts:
    paths:
    - public

Fix some docstrinfs: atoms -> scf
  eminus/energies.py
  eminus/tools.py
Due: flake8, pytest

readme: python before license
  README.md
  docs/introduction.rst
Due: pages

scf: Add space between values and units
  eminus/scf.py
Due: flake8, pytest

Allow SCF and Atoms objects in some functions
  eminus/addons/fods.py
  eminus/domains.py
  eminus/tools.py
Due: flake8, pytest

filehandler: Rename system to atom
  eminus/filehandler.py
Due: flake8, pytest

tools: Allow different densities for dipole calculations
  eminus/tools.py
Due: flake8, pytest

Spell-checking
  eminus/addons/fods.py
  eminus/energies.py
  eminus/potentials.py
  eminus/tools.py
  eminus/xc.py
  setup.py
Due: flake8, pytest

Fix non gth potentials
  eminus/potentials.py
  eminus/scf.py
Due: flake8, pytest

filehandler: Add raisees
  eminus/filehandler.py
Due: flake8, pytest

xc: Add warning if mock functional is used
  eminus/xc.py
Due: flake8, pytest

scf: Fix sic calculation
  eminus/scf.py
Due: flake8, pytest

Indentation fixes
  eminus/atoms.py
  eminus/energies.py
  eminus/scf.py
Due: flake8, pytest

xc: Fix functionals (duh)
  eminus/xc.py
Due: flake8, pytest

version: Add dev packages, but dont show them if they are not installed
  eminus/version.py
Due: flake8, pytest, pages

tests: Fix example 10
  tests/examples/test_examples.py
Due: none

addons/fods: Do not remove fods when we already have the perfect amount
  eminus/addons/fods.py
Due: flake8, pytest

orbitals: Simplify cube file writing
  eminus/orbitals.py
Due: flake8, pytest

Add some new lines and comments for readability
  eminus/addons/libxc.py
  eminus/data.py
  eminus/dft.py
  eminus/domains.py
  eminus/energies.py
  eminus/gth.py
  eminus/localizer.py
  eminus/operators.py
  eminus/orbitals.py
  eminus/potentials.py
  eminus/tools.py
  eminus/xc.py
Due: flake8, pytest

energies: Cleanup
  eminus/energies.py
Due: flake8, pytest

Some return simplifications
  eminus/energies.py
  eminus/filehandler.py
Due: flake8, pytest

version: Release v2.0.0
  CHANGELOG.md
  eminus/version.py
Due: flake8, pytest, pages

xc: Nit
  eminus/xc.py
Due: flake8, pytest

setup: Remove documentation, it is the same as homepage
  setup.py
Due: none

atoms: Fix docstring for jconjugated operators
  eminus/atoms.py
Due: flake8, pytest

energies: Fix get_E description
  eminus/energies.py
Due: flake8, pytest

units: Replace times with *
  eminus/tools.py
  eminus/units.py
Due: flake8, pytest

xc: Shorten description
  eminus/xc.py
Due: flake8, pytest

examples: Shorten some lines, such that the doc does not need to scroll
  examples/03_atoms_objects/03_atoms_objects.py
  examples/04_dft_calculations/04_dft_calculations.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
Due: pages

ci: Remove version trigger
  .gitlab-ci.yml
Due: none

Rework examples page generation
  .flake8
  docs/conf.py
  docs/examples_builder.py
  examples/01_installation_test/01_installation_test.py
  examples/02_minimal_example/02_minimal_example.py
  examples/03_atoms_objects/03_atoms_objects.py
  examples/04_dft_calculations/04_dft_calculations.py
  examples/05_input_output/05_input_output.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/07_fod_addon/07_fod_addon.py
  examples/08_visualizer_addon/08_visualizer_addon.ipynb
  examples/09_sic_calculations/09_sic_calculations.py
  examples/10_domain_generation/10_domain_generation.ipynb
  examples/README.md
Due: flake8, pages

docs: Add gitlab link to the footer
  docs/conf.py
  docs/further.rst
Due: pages

docs: Nit
  docs/conf.py
Due: pages

flake8: Add comments
  .flake8
Due: none

docs: Update copyright year and use short version for documentation
  docs/conf.py
Due: pages

docs: Update feature overview image for easier maintenance and design purpose
  docs/_images/eminus_features.svg
  docs/_images/features.svg
  docs/introduction.rst
Due: pages

docs: Correct zenodo link and doi
  docs/introduction.rst
Due: pages

docs: Improve feature overview once more
  docs/_images/features.svg
Due: pages

docs: Small cleanup to example function signatures
  docs/conf.py
  docs/examples_builder.py
Due: pages

docs: Remove starting guess from feature overview
  docs/_images/features.svg
Due: pages

Remove trailing slash from urls
  docs/README.md
  docs/further.rst
  docs/installation.rst
  eminus/addons/libxc.py
  tests/README.md
Due: flake8, pytest, pages

Path conditions:
  flake8: any of: eminus/*, eminus/**/*, examples/*, tests/*
  pytest: any of: eminus/*, eminus/**/*, tests/*
  pages: any of: docs/*, docs/**/*, examples/**/*, eminus/version.py
