Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows, pages

lint:
  stage: test
  script:
  - pip install -e .
  - pip install flake8 flake8-docstrings flake8-import-order
  - flake8

pytest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short

pytest:minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:3.6-slim
  before_script:
  - pip install numpy==1.17.0 scipy==1.4.0

python:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.7'
      - '3.8'
      - '3.9'

platform:linux:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip --no-install-recommends -y

platform:macos:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  image: sickcodes/docker-osx:latest
  before_script:
  - python3 -m ensurepip

platform:windows:
  stage: test-pedantic
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/dft_calculations --tb=short
  tags:
  - windows
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  - choco install python --no-progress -y
  ...

pages:
  stage: deploy
  script:
  - pip install -e .
  - pip install sphinx furo
  - sphinx-build -b html ./docs ./public
  - pip install notebook
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  - find examples -name '*.html' -exec mv {} public/_static \;
  ...

tests: Test all p states in potentials
  tests/test_potentials.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

extras/torch: Add pytorch reference
  eminus/extras/torch.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add orbital function tests
  tests/test_orbitals.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add tests for minimizers
  tests/test_minimizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add tests for energies
  tests/test_energies.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add tests for the spherical harmonics
  eminus/utils.py
  tests/test_utils.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add cgforms to minimizer tests
  tests/test_minimizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add test to check that operators are hermitian
  tests/extras/test_torch.py
  tests/test_operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Small fix
  tests/test_config.py
  tests/test_minimizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

config: Fix except error catching
  eminus/config.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Revert "config: Fix except error catching"
  eminus/config.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

config: Fix gpu detection
  eminus/config.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Misc test and coverage improvements
  eminus/domains.py
  tests/extras/test_fods.py
  tests/extras/test_torch.py
  tests/test_config.py
  tests/test_domains.py
  tests/test_operators.py
  tests/test_tools.py
  tests/test_xc.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

io: Fix charge conversion in cube reader
  eminus/io/cube.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add i/o tests
  tests/test_energies.py
  tests/test_io.py
  tests/test_minimizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add gth tests
  tests/test_gth.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add dft tests
  tests/test_dft.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Add initial coverage configuration
  .coveragerc
  .gitignore
  .gitlab-ci.yml
  README.md
  docs/introduction.rst
  setup.py
Due: lint, pages

ci: Add coveradge precision
  .gitlab-ci.yml
Due: none

ci: Only install necessary packages for a faster pipeline
  .gitlab-ci.yml
Due: none

Update coverage badge link
  README.md
  docs/introduction.rst
Due: pages

ci: Only create coverage reports for main
  .gitlab-ci.yml
Due: none

setup: Remove usage of exec for version gathering
  setup.py
Due: lint

ci: test variables
  .gitlab-ci.yml
Due: none

ci: test zwoter teil
  .gitlab-ci.yml
Due: none

ci: Revert tests
  .gitlab-ci.yml
Due: none

io/json: Set operators after loading since they are not preserved
  eminus/io/json.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add localizer tests
  tests/test_domains.py
  tests/test_localizer.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Test ghost atoms and mock gth
  tests/test_gth.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

pade: Add noqa in init to make bandit happy
  eminus/pade/__init__.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

scf: Lower guess string, too
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

Fix the setting of log level in atoms and scf classes
  eminus/atoms.py
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

operators: Add support to shift fields in the full space
  eminus/operators.py
  tests/test_operators.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

scf: Fic recenter method
  eminus/scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Add scf tests
  tests/test_scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

test/potentials: Add non-cubic box to tests
  tests/test_potentials.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

atoms: Make the default log level dependent of the default logger
  eminus/atoms.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

tests: Move unused imports
  tests/test_config.py
  tests/test_scf.py
Due: lint, pytest, pytest:minimal, python, platform:linux, platform:macos, platform:windows

pytest: Do not use the short traceback form
  pytest.ini
Due: none

Path conditions:
  lint: any of: *.py, **/*.py
  pytest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pytest:minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*
