Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

Path conditions:
  lint: any of: *.py, **/*.py
  typecheck: any of: *.py, **/*.py
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:macos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:nixos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py

Fix typos
  CHANGELOG.md
  eminus/atoms.py
  eminus/band_minimizer.py
  eminus/config.py
  eminus/dft.py
  eminus/energies.py
  eminus/extras/__init__.py
  eminus/extras/dispersion.py
  eminus/extras/viewer.py
  eminus/gga.py
  eminus/gth.py
  eminus/kpoints.py
  eminus/localizer.py
  eminus/minimizer.py
  eminus/utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

version: Release v2.7.0
  CHANGELOG.md
  eminus/version.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

band_minimizer: Optimize unocc gradient a bit
  eminus/band_minimizer.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Small performance improvement due to smarter indexing, remove one deepcopy
  eminus/dft.py
  eminus/energies.py
  eminus/minimizer.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Use scipy.linalg over numpy
  tests/extras/test_symmetry.py
  tests/test_utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Use vdot and multi_dot for speed
  CHANGELOG.md
  eminus/dft.py
  eminus/energies.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

docs: Move introduction to index
  docs/index.rst
  docs/introduction.rst
Due: coverage, pages, pages:dev

docs: Add a citation page (fix #17)
  docs/README.md
  docs/citation.rst
  docs/conf.py
  docs/further.rst
  docs/index.rst
  docs/license.rst
  flake.nix
  setup.py
Due: lint, typecheck, coverage, pages, pages:dev

ci: Add sphinx-design to docs builder
  .gitlab-ci.yml
Due: none

docs: Add a button to preview notebooks
  docs/examples_builder.py
Due: lint, typecheck, coverage, pages, pages:dev

docs: Add some clicky buttons to the index page
  docs/index.rst
Due: coverage, pages, pages:dev

Mention "pythonic"
  README.md
  docs/index.rst
  eminus/__init__.py
  flake.nix
  setup.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation, pages, pages:dev

extras/viewer: Update fig.show logic
  eminus/extras/viewer.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

docs: Update grid, use internal links
  docs/index.rst
Due: coverage, pages, pages:dev

docs: Add an overview page
  CHANGELOG.md
  docs/_static/overview/README.md
  docs/_static/overview/band_structure.png
  docs/_static/overview/bz.png
  docs/_static/overview/cell.png
  docs/_static/overview/make_images.py
  docs/overview.rst
Due: lint, typecheck, coverage, pages, pages:dev

docs: Move nomenclature page to the bottom
  CHANGELOG.md
  docs/index.rst
Due: coverage, pages, pages:dev

Update contributiong.md
  CONTRIBUTING.md
Due: none

Update readme
  CHANGELOG.md
  README.md
  docs/installation.rst
Due: coverage, pages, pages:dev

Import multi_dot directly
  eminus/dft.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

docs: Fix nomenclature active shape
  docs/nomenclature.rst
Due: coverage, pages, pages:dev

nix: flake update
  flake.lock
Due: none

ruff: Add fromat quote style
  pyproject.toml
Due: none

Nit
  eminus/__init__.py
  eminus/xc/__init__.py
  tests/test_utils.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

nix: Add dftd3
  flake.lock
  flake.nix
Due: none

Update settings ruff 0.2.0, specify output-format, add LOG rule
  pyproject.toml
  setup.py
Due: lint, typecheck, coverage

setup: Raise minimum pyscf version
  setup.py
Due: lint, typecheck, coverage

pytest: Remove b3lyp warning filter
  tox.ini
Due: none

Use importlib.resources over pathlib + inspect
  eminus/io/gth.py
  eminus/psp/pade/__init__.py
  eminus/psp/pbe/__init__.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

docs: Simplify examples download generation, fix file exclusion
  docs/examples_builder.py
Due: lint, typecheck, coverage, pages, pages:dev

Fix to ensure python 3.7 support
  eminus/io/gth.py
  eminus/psp/pade/__init__.py
  eminus/psp/pbe/__init__.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

Trim indentation by exiting functions early
  eminus/energies.py
  eminus/gga.py
  eminus/gth.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

ci: Use latest pip version for installation test
  .gitlab-ci.yml
Due: none

occupations: Add tests for bands and smearing, fix fillings size
  eminus/occupations.py
  tests/test_occupations.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

energies: Add a extrapolation function
  eminus/energies.py
  eminus/minimizer.py
  tests/test_energies.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

smearing: Try to use get_epsilon for fillings calculations
  eminus/minimizer.py
  eminus/scf.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

dft: Remove get_epsilin_band
  eminus/dft.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

units: Add temperature conversion functions
  eminus/units.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

energies: Fix the entropy calculation
  eminus/energies.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

minimizer: Less logging
  eminus/minimizer.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation

occupations: Small smearing adjustments
  eminus/occupations.py
Due: lint, typecheck, coverage, minimal, python, platform:linux, platform:macos, platform:nixos, platform:windows, installation
